:host{
    width: 100%;
    height: 100%;
}
.map-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 8px 16px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #5c6bc0;
  }
}
