.center-component{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .component-align{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .categories-align{
            width: 100%;
            display: flex;
            gap: 10px;
            overflow-y: scroll;
            .categorie{
                color: white;
                border: 1px solid grey;
                border-radius: 5px;
                padding: 10px 20px;
                cursor: pointer;
                transition: 0.2s;
                display: flex;
                gap: 10px;
                align-items: center;
                .categorie-img{
                     width: 40px;
                     border-radius: 10px; 
                }
            }
            .categorie:hover{
                color: black;
                background-color: white;
            }
            .selected-categorie{
                background-color: white;
                color: black;
            }
        }
        .categories-align::-webkit-scrollbar{
            display: none;
        }
        .top-align{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
    }
}
.shop-card{
    display: flex;
    flex-direction: column;
    padding:20px 50px;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    .shop-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        .shop-title-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .shop-logo-container{
                width: 80px;
                height: 80px;
                background-color: black;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                .shop-logo{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .rate-align{
            display: flex;
            gap: 5px;
            .rate{
                color: goldenrod;
            }
        }
        .subscribers-align{
            display: flex;
            align-items: center;
            gap: 10px;
            .subscribers{
               border: 1px solid grey;
                color: white;
                border-radius: 10px;
                padding: 5px 10px;
            }
            .subscribe-button{
                border: 1px solid grey;
                color: white;
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                transition: 0.2s;
            }
            .subscribe-button:hover{
                background-color: white;
                color: black;
            }
        }
    }
    .shop-products-align{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        .shop-product{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            align-items: center;
            .shop-product-container{
                width: 100%;
                border-radius: 10px;
                height: 250px;
                display: flex;
                align-items: center;
                overflow: hidden;
                cursor: pointer;
                .shop-product-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.3s;
                }
            }
            .shop-product-container:hover .shop-product-img{
                scale: 1.2;
            }

        }
    }
}