.center-component{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .component-align{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px 0px;
        .categories-align{
            width: 100%;
            display: flex;
            gap: 10px;
            overflow-y: scroll;
            .categorie{
                color: white;
                border: 1px solid grey;
                border-radius: 5px;
                padding: 5px 10px;
                cursor: pointer;
                transition: 0.2s;
                display: flex;
                gap: 10px;
                align-items: center;
                text-wrap: nowrap;
                .categorie-img{
                     width: 30px;
                     border-radius: 10px; 
                }
            }
            .categorie:hover{
                color: black;
                background-color: white;
            }
            .selected-categorie{
                background-color: white;
                color: black;
            }
        }
        .categories-align::-webkit-scrollbar{
            display: none;
        }
        .top-align{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
            position: relative;
        }
        .other-shops{
            grid-template-columns: repeat(3,1fr);
            gap: 10px;
        }
    }
}
.shop-card{
    display: flex;
    flex-direction: column;
    padding:10px;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(128, 128, 128, 0.288);
    color: white;
    overflow: hidden;
    .shop-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        transition: 0.3s ;
        .shop-title-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            .shop-logo-container{
                width: 50px;
                height: 50px;
                background-color: black;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border: 1px solid grey;
                .shop-logo{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .rate-align{
            display: flex;
            gap: 5px;
            align-items: center;
            .rate{
                color: gold;
            }
        }
        .subscribers-align{
            display: flex;
            align-items: center;
            gap: 10px;
            .subscribers{
                color: grey;
                font-size: 12px;
            }
            .subscribe-button{
                border: 1px solid grey;
                color: white;
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                transition: 0.2s;
            }
            .subscribe-button:hover{
                background-color: white;
                color: black;
            }
        }
    }
    .shop-header:hover{
    }
    .shop-scroll-align{
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 300px;
        justify-content: space-between;
        padding: 10px;
        .scroll-button{
            padding: 15px;
            cursor: pointer;
            border: none;
            color: white;
            background-color: rgba(0, 0, 0, 0.459);
            backdrop-filter: blur(2px);
            z-index: 5;
            border-radius: 20%;
            border: 1px solid rgba(128, 128, 128, 0.26);
        }
        .shop-products-align{
            display: flex;
            overflow-x: scroll;
            width: 100%;
            gap: 10px;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 10px;
            .shop-product{
                display: flex;
                flex: 0 0 100%;       
                scroll-snap-align: start;     
                flex-direction: column;
                gap: 10px;
                align-items: center;
                height: 300px;
                width: 100%;
                .shop-product-container{
                    width: 100%;
                    align-items: center;
                    overflow: hidden;
                    cursor: pointer;
                    border: 5px;
                    position: relative;
                    .shop-product-img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.3s;
                    }
                    .product-title{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 6;
                        padding: 5px 10px;
                        backdrop-filter: blur(20px);
                        width: 100%;
                        text-align: center;
                        background-color: rgba(0, 0, 0, 0.281);
                    }
                    
                }
                .shop-product-container:hover .shop-product-img{
                    scale: 1.1;
                }
                
            }
            .small-shop-product{
                height: 200px;
            }
       
        }
        .shop-products-align::-webkit-scrollbar{
            display: none;
        }
    }
    .small-shop-scroll-align{
        height: 200px;
    }
}



@media screen and (max-width:1000px) {
    .center-component{
        .component-align{
            .top-align{
                grid-template-columns: repeat(1,1fr);
             
            }
            .other-shops{
                grid-template-columns: repeat(2,1fr);
                gap: 10px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .center-component{
        .component-align{
            width: 90%;
             .top-align{
                grid-template-columns: repeat(1,1fr);
                   .shop-card{
                        .shop-scroll-align{
                        height: 200px;
                        .scroll-button{
                            padding: 10px;
                        }
                        .shop-product-container{
                            height: 200px;
                        }   
                    }
                }
            }
            .other-shops{
                grid-template-columns: repeat(1,1fr);
                gap: 10px;
            }
        }
    }
}