<div class="center-component">
    <div class="component-align">
        <div class="top-align">
            <p style="color: white; position: absolute; top: -30px; z-index: 2; text-wrap: nowrap;">ყველაზე მოთხოვნადი მაღაზიები</p>
            <div class="shop-card" *ngFor="let i of TopShopList" >
                <div class="shop-header" [routerLink]="AppRoutes.shop+i.id">
                    <div class="shop-title-container">
                        <div class="shop-logo-container">
                            <img [src]="i.logo" alt="" class="shop-logo">
                        </div>
                        <p class="shop-title">marusa_handmade</p>
                        <div class="subscribers-align">
                            <p class="subscribers">Followers: {{i.subscribersCount}}K </p>
                        </div>
                    </div>
                    <div class="rate-align">
                        <i class="fas fa-star" [ngClass]="{'rate':i.rate>=1}"></i>
                        <i class="fas fa-star" [ngClass]="{'rate':i.rate>=2}"></i>
                        <i class="fas fa-star" [ngClass]="{'rate':i.rate>=3}"></i>
                        <i class="fas fa-star" [ngClass]="{'rate':i.rate>=4}"></i>
                        <i class="fas fa-star" [ngClass]="{'rate':i.rate>=5}"></i>
                    </div>
                </div>
                <div class="shop-scroll-align">
                    <button class="scroll-button" (click)="scrollLeft(container)"> <i class="fas fa-chevron-left chevron"></i> </button>
                    <div class="shop-products-align" #container>
                        <ng-container  *ngFor="let s of i.products;let index = index;">
                            <div class="shop-product"  [routerLink]="AppRoutes.shop+i.id">
                                <div class="shop-product-container">
                                    <p class="product-title">
                                        {{s.productName}}
                                    </p>
                                    <img [src]="s.productPhoto" alt="" class="shop-product-img">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <button class="scroll-button" (click)="scrollRight(container)"> <i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div class="categories-align">
            <div class="categorie" [ngClass]="{'selected-categorie':selectedCategorie ==0}"(click)="selectCategorie(0)">
                ყველა
            </div>    
            <div class="categorie" *ngFor="let c of catergorieList" [ngClass]="{'selected-categorie':selectedCategorie ==c.id}" (click)="selectCategorie(c.id)">
                {{c.categoryName}}
                <img class="categorie-img" [src]="c.categoryPhoto" alt="">
            </div>    
        </div>
        <div class="top-align other-shops">
            <div class="shop-card" *ngFor="let i of shopList">
                <div class="shop-header"  [routerLink]="AppRoutes.shop+i.id" style="align-items: center; justify-content: center;">
                    <div class="shop-title-container">
                        <div class="shop-logo-container">
                            <img [src]="i.logo" alt="" class="shop-logo">
                        </div>
                        <p class="shop-title">marusa_handmade</p>
                        <div class="subscribers-align">
                            <p class="subscribers">Followers: {{i.subscribersCount}}K </p>
                        </div>
                    </div>
                </div>
                <div class="shop-scroll-align small-shop-scroll-align">
                    <button class="scroll-button" (click)="scrollLeft(container)"> <i class="fas fa-chevron-left chevron"></i> </button>
                    <div class="shop-products-align " #container>
                        <ng-container  *ngFor="let s of i.products;let index = index;">
                            <div class="shop-product small-shop-product"  [routerLink]="AppRoutes.shop+i.id">
                                <div class="shop-product-container">
                                    <img [src]="s.productPhoto" alt="" class="shop-product-img">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <button class="scroll-button" (click)="scrollRight(container)"> <i class="fas fa-chevron-right"></i></button>

                </div>
                

            </div>
        </div>
    </div>
</div>