
.component{
    color: #e8e8e8;
    position: fixed;
    z-index: 20;
    width: 100%;
    .header{
        width: 100%;
        display: flex;
        justify-content: center;
        backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.426);
        padding: 15px 0px;
        .header-align{
            position: relative;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .float-logo{
                display: flex;
                align-items: center;
                gap: 15px;
                cursor: pointer;
                .logo-container{
                    overflow: hidden;
                    width: 45px;
                    height: 45px;
                    border-radius: 10px;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.437);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .logo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.3s all ease-in-out;
                    }
                    .logo:hover{
                        scale: 1.1;
                    }
                }
                .header-title{
                    color: #e8e8e8;
                    letter-spacing: 2px;
                    font-size: 22px;
                    font-weight: 500;
                    text-decoration: none;
                    text-shadow: none;
                    transition: 0.3s all ease-in-out;
                }
                
            }
            .navigation-align{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                gap: 25px;
                align-items: center;
                .nav-link{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 10px;  cursor: pointer;
                    color: inherit;
                    text-decoration: none; 
                    cursor: pointer;
                    transition: 0.3s;
                    border-bottom: 1px solid transparent;
                    .fas{
                        transition: 0.2s all ease-in-out;
                    }
                }
                .active-link{
                }
                .nav-link:hover .fas{
                    filter: drop-shadow(0px 0px 20px rgba(212, 175, 55, 0.6));
                    scale: 1.25;
                }
                .nav-link:hover {
                    text-shadow: none;
                }
                .profile-link{
                    display: flex;
                    justify-content: center;
                    animation: profilePopup 0.5s;
                    border: none;
                    .img-container{
                        width: 40px;
                        height: 40px;
                        border-radius:50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        background: rgb(0, 0, 0);
                        border: 1px solid rgba(128, 128, 128, 0.518);
                        .user-image{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .username{
                        font-size: 14px;
                        text-wrap: nowrap;
                        max-width: 140px;
                        overflow: hidden;
                    }
                }
                .profile-link:hover{
                    box-shadow: 0px 0px 0px transparent;
                    border: none;
                }
                .profile-link:focus{
                    border: none;
                }
                .profile-link:active{
                    border: none;
                }
                .login-popup{
                    animation: profilePopup 0.7s;
                }
                @keyframes profilePopup {
                    0%{
                        opacity: 0;
                    }
                    50%{
                        opacity: 1;
                    }
                    100%{
                        scale: 1;
                    }
                }
            }
            .mobile-navigation-align{
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            .burger-icon-align{
                width: 100%;
                display: none;
                justify-content: flex-end;
                .nav-link{
                    cursor: pointer;
                }
            }
        }
    }
}
.shop-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius:50%;
    overflow: hidden;
    border: 3px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, #ffeb3b 18%, #ff0065, #f900ff) border-box;
    .shop-logo{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.sidenav-align{
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 50;
    .background-exit{
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        animation: OpacityIn 0.5s;
    }
    .background-close{
        animation: OpacityOut 0.5s;
    }
    .mobile-navigation-align{
        width: 50%;
        background: rgba(12, 17, 34, 0.263);
        backdrop-filter: blur(10px);
        color: #e8e8e8;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 30px;
        transform: translate(0%);
        animation :sidenavAnimation 0.5s;
        border-left: 1px solid rgba(128, 128, 128, 0.319);
        .cancel-icon-align{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            padding: 15px;
            i{
                cursor: pointer;
                scale: 1.2;
                transition: 0.3s;
            }
            i:hover{
                rotate: 180deg;
                color: red;
            }
        }
        .nav-center{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .nav-link{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 20px;
                cursor: pointer;
            }
            .nav-link:focus,
            .nav-link:active {
                outline: none;
                background: none;
                box-shadow: none;
                border: none;
            }
            .profile-link{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;
                .img-container{
                    width: 50px;
                    height: 50px;
                    border-radius:50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    background: rgba(0, 0, 0, 0.8);
                    border: 1px solid white;
                    .user-image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .username{
                    font-size: 14px;
                    text-wrap: nowrap;
                    max-width: 200px;
                    overflow: hidden;
                }
            }
            .profile-link:hover{
                filter: drop-shadow(0px 0px 0px rgba(212, 175, 55, 0.6));
                box-shadow: 0px 0px 0px transparent;
                border: none;
            }
        }
    }
    .left-toright{
        animation:lefttoright 0.6s;
    }
    @keyframes sidenavAnimation {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }
     @keyframes lefttoright {
        0%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(100%);
        }
    }
    @keyframes OpacityIn {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
     @keyframes OpacityOut {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}


@media screen and (max-width: 900px){
.component{
    .header{
        padding: 10px 0px;
        .header-align{
            width: 80%;
            align-items: center;
            .float-logo{
                 .logo-container{
                     width: 50px;
                     height: 50px;
                 }
             }
            .navigation-align{
                display: none;
            }
            .burger-icon-align{
                display: flex;
            }
        }
    }
}
}



@media screen and (max-width: 600px){
    .component{
        .header{
            .header-align{
                width: 90%;
            }
        }
    }
}
@media screen and (max-width: 480px){
    .sidenav-align{
        .mobile-navigation-align{
            .nav-center{
                .nav-link{
                    font-size: 16px;
                }
                .profile-link{
                    .username{
                        max-width: 160px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 300px){
    .sidenav-align{
        .mobile-navigation-align{
            .nav-center{
                .nav-link{
                    font-size: 14px;
                }
            }
        }
    }
}