<div class="component">
    <div class="header">
    <div class="header-align">
        <div class="fload-logo">
            <div class="logo-container">
                <img class="logo" src="assets/img/marusa_line.jpg" alt="">
            </div>
            <p class="heaer-title">marusa_line</p>
        </div> 
        <ul class="navigation-align">
            <li class="nav-link"><b>პროდუქტები</b> </li>
            <li class="nav-link"><b>კონტაქტი</b> </li>
        </ul>
    </div>
</div>
</div>