.photo-container {
  width: 100%;
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
    .discount-price-mobile {
        display: none;
        gap: 6px;
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-color: rgba(0, 0, 0, 0.719);
        color: white;
        padding: 1px 3px;
        border-radius: 2px;
        font-size: 13px;
        z-index: 2;
        align-items: center;
        .discounted-price {
            font-size: 10px;
            color: rgb(255, 70, 70);
            text-decoration:line-through;
            font-style:italic;
        }
   }
  .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .information-align {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    transition: 0.3s all ease-in-out;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 20px;
    .likes {
      color: white;
      display: flex;
      gap: 5px;
      font-weight: bold;
      .far {
        color: white;
      }
    }
    .text-align {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      position: relative;
      .description-price {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .discount-price {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        font-size: 18px;
        align-items: center;
        .discounted-price {
           color: rgb(255, 70, 70);
            text-decoration:line-through;
            font-style:italic;
            font-size: 14px;
        }
      }
    }
    .title {
      color: white;
    }
  }
}
.photo-container:hover .photo {
  scale: 1.1;
}
.photo-container:hover .information-align {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .photo-container {
    .information-align {
      padding: 10px;
      .title {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .photo-container {
    .discount-price-mobile{
        display: flex;
    }
    .information-align {
        display: none;
    }
  }
}
