<div class="photo-container" [routerLink]="AppRoutes.card_details+photos.id">
    <div class="discount-price-mobile" *ngIf="PhotoCongif.priceVisible">
          <b [ngClass]="{'discounted-price': photos.discountedPrice>0}">{{photos.price}}₾</b>
          <b *ngIf="photos.discountedPrice>0">{{photos.discountedPrice}}₾</b>
    </div>
    <div class="information-align">
        <b class="title">
            {{photos.title}}
        </b>
        <div class="text-align">
            <div >
            <div class="discount-price" >
                <b  [ngClass]="{'discounted-price': photos.discountedPrice>0}">{{photos.price}}₾</b>
                <b *ngIf="photos.discountedPrice>0">{{photos.discountedPrice}}₾</b>
            </div>
        </div>
            <div class="learn-more-align">
            </div>
            <div class="description-price">
                <p class="description">
                </p>
            </div>
        </div>
    </div>
    <img [src]="photos.photos[0].photoUrl" alt="" class="photo">
</div>