<div class="photo-container" >
    <div class="information-align">
        <div class="text-align">
            <div >
                <div class="discount-price" >
                <b  [ngClass]="{'discounted-price': photos.discountedPrice>0}">{{photos.price}}₾</b>
                <b *ngIf="photos.discountedPrice>0">{{photos.discountedPrice}}₾</b>
            </div>
            <b class="title">
                {{photos.title}}
            </b>
        </div>
            <div class="description-price">
                <p class="description">
                </p>
                <div class="like-learn-more">
                    <p class="likes">{{photos.id}} <i class="fas fa-heart"></i></p>
                    <button [routerLink]="AppRoutes.card_details+photos.id">გაიგე მეტი</button>
                </div>
            </div>
        </div>
    </div>
    <img [src]="photos.photos[0].photoUrl" alt="" class="photo">
</div>