.photo-container {
  width: 100%;
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .information-align {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s all ease-in-out;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 20px;
   
    .navigate{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .text-align {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      position: relative;
      .description-price {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .discount-price {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        font-size: 18px;
        align-items: center;
        .discounted-price {
          color: rgb(255, 70, 70);
          text-decoration:line-through;
          font-style:italic;
          font-size: 14px;
        }
      }
    }
    .title {
      color: white;
      text-align: center;
    }
  }
}
.photo-container:hover .photo {
  scale: 1.1;
}
.liked-post{
  animation: likeAnim 0.3s;
  color: rgb(247, 65, 65);

}
@keyframes likeAnim {
  0%{
    color: white;
  }
  25%{
    transform: rotate(20deg);
  }
  50%{
    transform: rotate(-20deg);
    scale: 1.3;
  }
  100%{
    color: rgb(247, 65, 65);
  }
}
.mobile{
  display: none;
  position: relative;
  .heart-align{
    display: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    align-items: center;
    padding: 1px 3px;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 3px;
    border-radius: 5px;    
    gap: 5px;
    font-size: 12px;
    z-index: 5;
  }
  .discount-price-mobile {
    display: flex;
    gap: 6px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(20px);
    color: white;
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 13px;
    align-items: center;
    .discounted-price {
        font-size: 10px;
        color: rgb(255, 89, 89);
        text-decoration:line-through;
        font-style:italic;
    }
   }
  .mobile-router{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .heart-align{
      z-index: 2;
    }
  }
}
.desktop{
  display: flex;
  position: relative;
   .discount-price-mobile {
    display: flex;
    gap: 6px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(20px);
    color: white;
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 13px;
    z-index: 3;
    align-items: center;
    .discounted-price {
        font-size: 10px;
        color: rgb(241 114 114);
        text-decoration:line-through;
        font-style:italic;
    }
   }
   .heart-align{
      display: flex;
      position: absolute;
      bottom: 5px;
      left: 5px;
      color: white;
      align-items: center;
      padding: 1px 3px;
      background-color: rgba(0, 0, 0, 0.61);
      padding: 5px;
      border-radius: 5px;    
      gap: 5px;
      font-size: 16px;
      z-index: 10;
    }
    .likes {
      color: white;
      display: flex;
      gap: 5px;
      font-weight: bold;
      .far {
        color: white;
      }
    }
  .information-align{
    z-index: 8;
    .heart-align{
      z-index: 8;
    }
  }
}
.desktop:hover .information-align {
  animation: informationAlign 0.5s;
  display: flex;
  opacity: 1;
}
.mobile:hover .mobile-router{
    display: flex;
    z-index: 1;
}
@keyframes informationAlign{
  0%{
    display: flex;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) {
  .photo-container {
    .information-align {
      padding: 10px;
      .title {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .mobile{
    display: flex;
  }
  .desktop{
    display: none;
  }
  .photo-container {
    .discount-price-mobile{
        display: flex;
    }
    .heart-align{
      display: flex;
    }
    .information-align {
        display: none;
    }
  }
}
