
<div class="gallery-align">
    <div class="shop-align">
        <div class="shop-header">
            <div class="shop-title-container">
                <div class="logo-title-align">
                    <div class="shop-logo-container">
                        <img [src]="randomShop2.logo" alt="" class="shop-logo">
                    </div>
                    <div class="shop-title">
                        <p class="sho-title-title">marusa_handmade</p>
                        <div class="followers-align">
                            <div class="followers">
                                <p>{{randomShop2.postCount}}</p>
                                <p style="color:grey">posts</p> 
                            </div>
                            <div class="followers">
                                <p>{{randomShop2.followerCount}}</p>
                                <p style="color:grey">followers</p> 
                            </div>
                        </div>
                        <div class="followers-container-align">
                            <div class="followers-container" *ngFor="let f of randomShop2.lastFollowers">
                                <img [src]="f.profilePhoto" alt="" class="follower-img">
                            </div>
                            <div class="followers" style="display: flex; align-items: center; gap:5px; margin-left: 5px; color: grey; flex-wrap: wrap;">
                                <p>Followed by</p> 
                                <p style="max-width: 70px; overflow: hidden;">{{randomShop2.lastFollowers[0].userName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="follow-button" [ngClass]="{'following':following}" (click)="toggleFollew(this.userId)">{{followString}} <i *ngIf="following" class="fas fa-check-double"></i> </button>
            </div>
        </div>
    </div>
    <div class="header-container">
       <!-- <div class="photo-align align-3">
           <div *ngFor="let p of soldProducts; let index = index;" class="container" [ngClass]="{'hide-album':index==2}">
               <app-photo-album [products]="p" [PhotoCongif]="PhotoConfig" class="album" ></app-photo-album>
           </div>
       </div> -->
       <!-- <div class="photo-align align-4">
           <div *ngFor="let p of soldProducts2; let index = index;" class="container" [ngClass]="{'hide-album': index==2}">
               <app-photo-album [products]="p" [PhotoCongif]="PhotoConfig" class="album" ></app-photo-album>
           </div>
       </div> -->
    </div>
    <div class="gallery">
        <app-gallery ></app-gallery>
    </div>
</div>

<app-footer class="footer" *ngIf="footer" [footer]="footer"></app-footer>

