.gallery-align{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .photo-align{
        padding: 30px 0px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .container{
           flex: auto;
           height: 400px;
           position: relative;
           .discount-mark{
               position: absolute;
               top: -20px;
               left: -20px;
               z-index: 3;
           }
        }
    }
    .section-title-align{
        display: flex;
        width: 80%;
        .section-title{
            color: white;
            display: flex;
            gap: 10px;
            font-size: 20px;
            align-items: center;
        }
    }
}
.gallery{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;    
}
.fa-circle{
    color: rgba(0, 0, 0, 0.521);
    border: 2px solid white;
    border-radius: 50%;
}
@media screen and (max-width:1500px){
    .gallery-align{
       .photo-align{
         .container{
           height: 300px;
        }
    }
  }
}
@media screen and (max-width:1200px){
    .gallery-align{
       .photo-align{
         .container{
           height: 200px;
        }
    }
  }
}
@media screen and (max-width:800px){
    .gallery-align{
       .photo-align{
         .container{
           height: 150px;
            .discount-mark{
               top: -10px;
               left: -10px;
           }
        }
    }
  }
}
@media screen and (max-width:600px){
    .gallery-align{
        .section-title-align{
            width: 90%;
        }
        .gallery{
            .filters-align{
                width: 90%;
            }
        }
       .photo-align{
        width: 90%;
         .container{
           height: 120px;
        }
     }
  }
}