.gallery-align{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .shop-align{
      display: flex;
      width: 80%;
      border-radius: 10px;
      padding:10px;    
      background-color: rgb(0 0 0 / 35%);
      // border: 1px solid grey;
      // border: 3px solid transparent;
      // background: linear-gradient(rgb(34, 34, 34), rgb(29, 29, 29)) padding-box, linear-gradient(45deg, #ffeb3b 18%, #ff0065, #f900ff) border-box;
      .shop-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s ;
        color: white;
        position: relative;
        .follow-button{
          border: 1px solid white;
          border-radius: 5px;
          padding: 5px 20px;
          background-color: transparent;
          color: white;
          cursor: pointer;
          font-weight: bolder;
          width: 100%;
        }
        .following{
          background-color: white;
          color: black;
          animation:0.5s followAnim;
        }
        @keyframes followAnim {
          0%{
            background-color: transparent;
          }
          50%{
            letter-spacing: 0px;
            scale: 0.9;
            color: white;
          }
          100%{
            backdrop-filter: white;
            letter-spacing: 0px;
            color: black;
          }
        }
        .shop-title-container{
          display: flex;
          flex-direction: column;
          gap: 10px;
          .logo-title-align{
            display: flex;
            gap: 10px;
            flex-direction: column;
            .sho-title-title{
              overflow-x: scroll;
              max-width: 200px;
            }
            .sho-title-title::-webkit-scrollbar{
              display: none;
            }
            .shop-logo-container{
                    width: 100px;
                    height: 100px;
                    background-color: black;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border: 3px solid transparent;
                    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, #ffeb3b 18%, #ff0065, #f900ff) border-box;
                    .shop-logo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            .shop-title{
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            .followers-align{
                display: flex; 
                align-items: center;
                gap: 10px;
            }
            .followers-container-align {
              display: flex;
              align-items: center;
              .followers-container {
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  overflow: hidden;
                  border: 1px solid grey; 
                  margin-left: -9px; 

                  &:first-child {
                  margin-left: 0;
                  }

                  img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  }
              }
          }
            .followers{
                display: flex;
                align-items: center;
                gap: 5px;
                color: white;
                font-size: 14px;
                p{
                    text-wrap: nowrap;
                }
            }
        }
        .rate-align{
            display: flex;
            gap: 5px;
            align-items: center;
            .rate{
                color: gold;
            }
        }
        
        }
    }
    }
    .header-container{
      width: 100%;    
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .photo-align{
      width: 80%;
      display: grid;
      grid-template-columns: 40% 25% 35%;
      grid-template-rows: auto auto auto; 
      .container{
          flex: auto;
          height: 300px;
          margin: 2px;
          position: relative;
          .discount-mark{
              position: absolute;
              top: -10px;
              left: -20px;
              z-index: 10;
          }
      }
    }
    .align-2{
      grid-template-columns: 30% 35% 35%;
      grid-template-rows: auto auto auto; 
    }
    .align-3{
       grid-template-columns: 35% 25% 40%;
       grid-template-rows: auto auto auto; 
    }
    .align-4{
       grid-template-columns: 45% 25% 30%;
    }
}
.gallery{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;    
}

@media screen and (max-width:1500px){
    .gallery-align{
       .photo-align{
         .container{
           height: 280px;
           
        }
    }
  }
}
@media screen and (max-width:1200px){
    .gallery-align{
       .photo-align{
         .container{
           height: 250px;
        }
    }
  }
}
@media screen and (max-width:1000px){
    .gallery-align{
       .photo-align{
         .container{
           height: 180px;
        }
    }
  }
}
@media screen and (max-width:800px){
   .gallery-align{
       .photo-align{
         .container{
           height: 150px;
            .discount-mark{
               top: -10px;
               left: -10px;
           }
        }
    }
  }
}
@media screen and (max-width:600px){
    .gallery-align{
        .section-title-align{
            width: 90%;
        }
        .photos-align{
          width: 90%;
          display: flex;
        }
        .gallery{
            .filters-align{
                width: 90%;
            }
        }
        .shop-align{
          width: 90%;
        }
       .photo-align{
          width: 90%;

        .hide-album{
          display: none;
        }
        .container{
           height: 120px;
           margin: 2px;
             .discount-mark{
               top: -5px;
               left: 0px;
           }
        }
      }
      .align-2{
        grid-template-columns: 55% 45%;
        grid-template-rows: auto auto; 
      }
    .align-3{
       grid-template-columns: 55% 45%;
       grid-template-rows: auto auto auto; 
    }
    .align-4{
       grid-template-columns: 45% 55%;
    }
  }
  .gallery-align  {
    .shop-align  {
        .shop-header{ 
          .shop-title-container{ 
            width: 100%;
            align-items: center;
            justify-content: center;
              .logo-title-align{ 
                width: 100%;
                }
            }
          }
      }
   }
}