.gallery-align{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-container{
      margin: 30px 0px;
      width: 100%;    
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .photo-align{
      width: 80%;
      display: grid;
      grid-template-columns: 40% 25% 35%;
      grid-template-rows: auto auto auto; 
      .container{
          flex: auto;
          height: 300px;
          position: relative;
          margin: 5px;
          .discount-mark{
              position: absolute;
              top: -10px;
              left: -20px;
              z-index: 10;
          }
      }
    }
    .align-2{
      grid-template-columns: 30% 35% 35%;
      grid-template-rows: auto auto auto; 
    }
    .section-title-align{
        display: flex;
        width: 80%;
        .section-title{
            color: white;
            display: flex;
            gap: 10px;
            font-size: 20px;
            align-items: center;
        }
    }
}
.gallery{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;    
}

@media screen and (max-width:1500px){
    .gallery-align{
       .photo-align{
         .container{
           height: 280px;
           
        }
    }
  }
}
@media screen and (max-width:1200px){
    .gallery-align{
       .photo-align{
         .container{
           height: 250px;
        }
    }
  }
}
@media screen and (max-width:1000px){
    .gallery-align{
       .photo-align{
         .container{
           height: 180px;
        }
    }
  }
}
@media screen and (max-width:800px){
    .gallery-align{
      .header-container{
        margin: 0;
      }
       .photo-align{
         .container{
           height: 150px;
            .discount-mark{
               top: -10px;
               left: -10px;
           }
        }
    }
  }
}
@media screen and (max-width:600px){
    .gallery-align{
        .section-title-align{
            width: 90%;
        }
        .gallery{
            .filters-align{
                width: 90%;
            }
        }
       .photo-align{
          width: 90%;
          grid-template-columns: 45% 55%;
          grid-template-rows: auto auto; 
        .hide-album{
          display: none;
        }
        .container{
           height: 120px;
           margin: 2px;
             .discount-mark{
               top: -5px;
               left: 0px;
           }
        }
      }
      .align-2{
        grid-template-columns: 55% 45%;
        grid-template-rows: auto auto; 
      }
  }
}