.gallery-align{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    .photo-align{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .container{
           flex: auto;
           height: 400px;
           position: relative;
           .discount-mark{
               position: absolute;
               top: -20px;
               left: -20px;
               z-index: 3;
           }
        }
    }
}
@media screen and (max-width:1500px){
    .gallery-align{
       .photo-align{
         .container{
           height: 300px;
        }
    }
  }
}
@media screen and (max-width:1200px){
    .gallery-align{
       .photo-align{
         .container{
           height: 200px;
        }
    }
  }
}
@media screen and (max-width:800px){
    .gallery-align{
       .photo-align{
         .container{
           height: 100px;
            .discount-mark{
               top: -10px;
               left: -10px;
           }
        }
    }
  }
}
@media screen and (max-width:600px){
    .gallery-align{
       .photo-align{
            width: 90%;
         .container{
           height: 100px;
        }
    }
  }
}