<div class="gallery-align">
    <div class="header-container">
        <div class="section-title-align">
           <b class="section-title" style="display: flex; align-items: center;">
               ყველაზე მოთხოვნადი 
           </b>
        </div>
       <div class="photo-align align-3">
           <div *ngFor="let p of soldProducts; let index = index;" class="container" [ngClass]="{'hide-album':index==2}">
               <app-photo-album [products]="p" [PhotoCongif]="PhotoConfig" class="album" ></app-photo-album>
           </div>
       </div>
       <div class="photo-align align-4">
           <div *ngFor="let p of soldProducts2; let index = index;" class="container" [ngClass]="{'hide-album': index==2}">
               <app-photo-album [products]="p" [PhotoCongif]="PhotoConfig" class="album" ></app-photo-album>
           </div>
       </div>
    </div>
   

    <div class="gallery">
        <app-gallery ></app-gallery>
    </div>

</div>

