<div class="center-component">
  <div class="body-align">
    <div class="component">
      <div class="header-grid">
        <div class="card-information" *ngIf="postsLoaded">
          <div class="photo-align">
            <div class="order-num-align">
              <div
                class="order-box"
                [ngClass]="{'is-payed':order.isPaid,'to-payed':!order.isPaid,}"
              >
                <p class="order-status">შეკვეთა</p>
                <p class="order-id">
                  {{ order.orderId }}
                </p>
              </div>
            </div>
            <div class="title-price-align">
              <p>
                {{ posts.title }}
              </p>
            </div>
            <div class="photo-container">
              <div *ngFor="let p of photosArray; let i = index">
                <img [src]="p.photoUrl" *ngIf="i == 0" alt="" class="photo" />
              </div>
            </div>

            <div class="user-information" *ngIf="order.isPaid">
               <div class="rules-align" >
                  <div class="title">
                    <b>შეკვეთის სტატუსი<i class="fas fa-file-alt"></i></b>
                  </div>
                  <div class="statuses-modal">
                    <div class="detail-align">
                      <div class="order-road">
                        <div *ngFor="let o of orderStatuses; let last = last;" class="order-step">
                          <div class="step-marker" [ngClass]="{'completed': o.id < order.statusId, 'current': o.id === order.statusId}"></div>
                          <div class="step-line" *ngIf="!last" [ngClass]="{'completed': o.id < order.statusId}"></div>
                          <div class="step-label" [ngClass]="{'completed-label': o.id < order.statusId, 'current-label': o.id === order.statusId}">
                            {{ getStatusName(o.id) }}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="product-details-align"   [ngClass]="{ 'pay-one-align': !order.isPaid }">
              <div class="detail-align">
                <div
                  class="detail info-background" style="width: 100%;"
                  (click)="scrollToBottomMethod()"
                  *ngIf="!order.isPaid"
                  [ngClass]="{ 'to-payed': !order.isPaid }"
                >
                  <p class="">გადასახდელი</p>
                  <b> {{ order.finalPrice }}₾</b>
                  <i class="fas fa-credit-card"></i>
                </div>
                <div
                  class="detail info-background payed-container"
                  *ngIf="order.isPaid"
                  [ngClass]="{ 'is-payed': order.isPaid }"
                >
                  <p class="">გადახდილი</p>
                  <b> {{ order.finalPrice }}₾</b>
                  <i class="fas fa-credit-card"></i>
                </div>
              </div>
              <div class="delivery-align info-background detail"   *ngIf="order.isPaid">
               <p style="text-align: center">რაოდენობა <b style="font-size: 18px; background-color: rgba(0, 0, 0, 0.342); border-radius: 5px; padding: 5px 10px;">{{ order.productQuantity }}</b></p>
             </div>
              <div class="delivery-align info-background detail" *ngIf="order.isPaid">
                <p style="text-align: center">{{ order.deliveryType }}</p>
              </div>
               <div class="delivery-align info-background detail" style="flex-direction: column;" *ngIf="order.isPaid&& order.address!=''">
                <p>მისამართი</p>
                <p style="text-align: center" style="font-size: 18px;  background-color: rgba(0, 0, 0, 0.136); border-radius: 5px; padding: 5px 10px; word-break: break-all;">{{ order.address }}</p>
              </div>
              <!-- <div class="delivery-align info-background detail">
                <p style="text-align: center">{{ order.address }}</p>
              </div> -->
            </div>
            <div class="comment-align user-information" #scrollToBottom *ngIf="order.isPaid">
              <div class="form-group">
                <label for="" style="display: flex; gap: 20px; color: white"
                  >კომენტარი
                  <p style="color: gray">{{ comment.length }}/300</p>
                </label>
                <textarea
                  [(ngModel)]="comment"
                  disabled="true"
                  class="form-control"
                  maxlength="300"
                  style="min-height: 100px"
                ></textarea>
              </div>
            </div>
          </div>
          <ng-container  *ngIf="order.isPaid ">
            <div class="user-information" *ngIf="order.address==''">
              <div id="map" ></div>
            </div>
          </ng-container>
          <div class="user-information" *ngIf="!order.isPaid">
            <div class="rules-align">
              <div class="title">
                <b>გადახდის წესები<i class="fas fa-file-alt"></i></b>
              </div>
              <div class="rulessss">
                <div style="display: flex; flex-direction: column; gap: 10px; ">
                  <div class="rules">
                    <p class="to-pay-text">
                       გადარიცხე თანხა შენთვის სასურველ ანგარიშზე
                    </p>
                  </div>
                  <div class="rules-text-align"  (click)="copyToClipboard('GE18BG0000000607735653',1)">
                    <div class="logo-container">
                      <img src="assets/img/bog.png" class="logo" alt="" />
                    </div>
                    <p>{{bog.accountNumber}}</p>
                    <button class="copy-button">
                      <span class="copied" *ngIf="copiedNumber ==1">Copied ✅</span>
                      კოპირება <i class="fas fa-copy" style="color: white"></i>
                    </button>
                  </div>
                  <div class="rules-text-align" (click)="copyToClipboard('GE61TB7903545064300036',2)">
                    <div class="logo-container">
                      <img src="assets/img/tbc.jpg" class="logo" alt="" />
                    </div>
                    <p>{{tbc.accountNumber}}</p>
                    <button class="copy-button" >
                      <span class="copied" *ngIf="copiedNumber ==2">Copied ✅</span>
                      კოპირება <i class="fas fa-copy" style="color: white"></i>
                    </button>
                  </div>
                  <p *ngIf="bog.recieverName">
                    მიმღები :
                    <b>{{bog.recieverName}}</b>
                  </p>
                   
                </div>
                <div>
                  <div class="rules">
                    <p class="to-pay-text">
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="user-information" *ngIf="!order.isPaid" style="padding: 20px;">
            <div class="rules-align">
                <div class="rules" style="display: flex; flex-direction: column; gap: 30px;">
                  გადახდის შემდეგ მოგვწერეთ Instagram ან facebook-ზე ✅
                  <div class="link-align">
                    <a class="link-button instagram" [href]="footer.instagram" target="_blank" >
                      <div style="display: flex; align-items: center; gap: 10px;">
                        <div class="main-logo">
                          <img [src]="footer.shopPhoto" alt="" class="shop-img">
                        </div>
                        {{footer.shopTitle}}
                      </div>
                      <img src="assets/icons/instagram.svg" alt="">
                    </a>
                    <a class="link-button facebook" [href]="footer.facebook" target="_blank">
                        <div style="display: flex; align-items: center; gap: 10px;">
                          <div class="main-logo">
                            <img [src]="footer.shopPhoto" alt="" class="shop-img">
                          </div>
                          {{footer.shopTitle}}
                        </div>
                        <img src="assets/icons/facebook.svg" alt="">
                    </a>
                </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
