.background {
  // Sophisticated dark gradient - elegant and minimalist for a premium brand
//   background: linear-gradient(135deg, #2d2d5c 0%, #1c202b 25%, #233750 50%, #27273c 75%, #0d1b2a 100%);
  background-color: #20202c;
  width: 100%;
  height: 120%;
  z-index: -2;
  overflow: hidden;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stars {
  width: 1px;
  height: 1px;
  position: absolute;
  background: white;
  animation: twinkle 8s infinite linear;
}

.shooting-star {
  position: absolute;
  width: 100px;
  height: 2px;
  background: linear-gradient(90deg, white, transparent);
  animation: shoot 3s infinite ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shooting-star:nth-child(1) {
  top: 0%;
  left: -100px;
  animation-delay: 0s;
}

.shooting-star:nth-child(2) {
  top: 10%;
  left: -120px;
  animation-delay: 0.5s;
}

.shooting-star:nth-child(3) {
  top: 20%;
  left: -150px;
  animation-delay: 1s;
}
.shooting-star:nth-child(4) {
  top: 30%;
  left: -200px;
  animation-delay: 0.3s;
}
.shooting-star:nth-child(5) {
  top: 40%;
  left: -120px;
  animation-delay: 2s;
}
.shooting-star:nth-child(6) {
  top: 50%;
  left: -800px;
  animation-delay: 0.7s;
}
.shooting-star:nth-child(7) {
  top: 60%;
  left: -200px;
  animation-delay: 1.5s;
}
.shooting-star:nth-child(8) {
  top: 30%;
  left: -100px;
  animation-delay: 1.2s;
}
.shooting-star:nth-child(9) {
  top: 90%;
  left: -100px;
  animation-delay: 0s;
}
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes shoot {
  0% {
    transform: translateX(0) translateY(0) rotate(25deg);
    opacity: 1;
  }
  100% {
    transform: translateX(150vw) translateY(50vh) rotate(25deg);
    opacity: 0;
  }
}

.stars::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: rgba(212, 175, 55, 0.8);
  animation: twinkle 6s infinite linear reverse;
}



.circles { 
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #24355c; 
    filter: blur(50px);
}

.circle-1 {
    left: 0%;
    top: 0%;
    background-color: #233252; 
    animation: circle1 10s infinite;
}

.circle-2 {
    right: 0%;
    top: 0%;
    background-color: #3d466d75; 
    animation: circle2 10s infinite;
}

.circle-3 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #212f6488; 
    animation: circle3 10s infinite;
}

.circle-4 {
    left: 0%;
    bottom: 0%;
    background-color: #1f294da1; 
    animation: circle4 10s infinite;
}

@keyframes circle1 {
    0%{
        left: 0%;
    }
    50%{
        left: 7%;
    }
    100%{
        left: 0%;
    }
}

@keyframes circle2 {
    0%{
        right: 0%;
    }
    50%{
        top: 7%;
        right:5%;
    }
    100%{
        top: 0%;
        right:0%
    }
}
@keyframes circle3 {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}
@keyframes circle4 {
    0%{
        left: 0%;
    }
    50%{
        left: 7%;
        bottom: 5%;
    }
    100%{
        left: 0%;
        bottom: 0%;
    }
}