.background {
  // Sophisticated dark gradient - elegant and minimalist for a premium brand
  // background: linear-gradient(135deg, #f5a6f2 0%, #f4c9f4 25%, #ffbbf1 50%, #ffffff 75%, #ffffff 100%);
//   background: linear-gradient(135deg, #2d2d5c 0%, #1c202b 25%, #233750 50%, #27273c 75%, #0d1b2a 100%);
  background: linear-gradient(135deg, #0f0c29 0%, #211e47 50%, #24243e 100%);
  background: linear-gradient(135deg, #1e1a41 0%, #242241 50%, #2f2f59 100%);

  width: 100%;
  height: 120%;
  z-index: -2;
  overflow: hidden;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stars {
  width: 1px;
  height: 1px;
  position: absolute;
  background: black;
  animation: twinkle 8s infinite linear;
}

.shooting-star {
  position: absolute;
  width: 100px;
  height: 2px;
  background: linear-gradient(90deg, black, transparent);
  animation: shoot 3s infinite ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shooting-star:nth-child(1) {
  top: 0%;
  left: -100px;
  animation-delay: 0s;
}

.shooting-star:nth-child(2) {
  top: 10%;
  left: -120px;
  animation-delay: 0.5s;
}

.shooting-star:nth-child(3) {
  top: 20%;
  left: -150px;
  animation-delay: 1s;
}
.shooting-star:nth-child(4) {
  top: 30%;
  left: -200px;
  animation-delay: 0.3s;
}
.shooting-star:nth-child(5) {
  top: 40%;
  left: -120px;
  animation-delay: 2s;
}
.shooting-star:nth-child(6) {
  top: 50%;
  left: -800px;
  animation-delay: 0.7s;
}
.shooting-star:nth-child(7) {
  top: 60%;
  left: -200px;
  animation-delay: 1.5s;
}
.shooting-star:nth-child(8) {
  top: 30%;
  left: -100px;
  animation-delay: 1.2s;
}
.shooting-star:nth-child(9) {
  top: 90%;
  left: -100px;
  animation-delay: 0s;
}
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes shoot {
  0% {
    transform: translateX(0) translateY(0) rotate(25deg);
    opacity: 1;
  }
  100% {
    transform: translateX(150vw) translateY(50vh) rotate(25deg);
    opacity: 0;
  }
}

.stars::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: rgba(212, 175, 55, 0.8);
  animation: twinkle 6s infinite linear reverse;
}


