
.span {
  width: 50px;
  padding: 2px 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(175, 9, 9); 
  background-color: darkred;
  font-size: 14px;
  border-radius: 5px;
  .last{
    color: white;
  }
}

@media screen and (max-width:800px){
    .span{
        font-size: 13px;
    }
}

@media screen and (max-width:600px){
    .span{
        font-size: 12px;
      }
}