
.span {
  width: 90px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .spans{
      display: flex;
      gap: 5px;
      width: 100%;
      height: 100%;
      align-items: center;
      .display{
        display: flex;
        gap: 5px;
        position: relative;
        width: 100%;
        justify-content: center;
        color: white;
        text-shadow: 0px 0px 1px greenyellow;
    }
  }
}

.span::before {
    content: '.';
    position: absolute;
    width: 50px;
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: #0000007a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    top: 0px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.356);
}

@media screen and (max-width:800px){
    .span{
        width: 30px;
        font-size: 13px;
        padding: 6px;
    }
    .span::before{
      width: 30px;
      padding: 8px;
      font-size: 10px
    }
}

@media screen and (max-width:600px){
    .span{
        width: 20px;
        font-size: 10px;
        padding: 5px;
      }
      .span::before{
      border-radius: 5px;
      width: 20px;
      padding: 5px;
      font-size: 10px
    }
}