
:host{
  width: 100%;
}
.custom-swal-popup {
  background: rgba(0, 0, 0, 0.459);  
}

.gallery-align{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .filters-align{
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        width: 80%;

        .section-title-align{
            display: flex;
            width: 80%;
            .section-title{
                color: white;
                display: flex;
                gap: 10px;
                align-items: center;
                text-wrap: nowrap;
            }
         }
        .open-filter{
          padding: 10px 20px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          color: white;
          background-color: rgba(0, 0, 0, 0.541);
        }
        .modal-align{
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    .modal-background{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .modal{
        width: 90%;
        max-width: 500px;
        border-radius: 10px;
        backdrop-filter: blur(40px);
        z-index: 2;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        animation: modalPopup 0.5s;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        .modal-header{
            position: absolute;
            top: 0px;
            padding: 10px 10px 0px 0px;
            right: 0px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .fa-times{
                color: white;
                scale: 1.5;
            }
            .fa-arrow-left{
                color: white;
                scale: 1.5;
            }
        }
        .modal-body{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
            height: 100%;
            padding-top: 15px;
            align-items: center;
            .header{
                width: 100%;
                display: flex;
                justify-content: center;
                color: white;
                text-shadow: 0px 0px 2px black;
                font-weight: bold;
            }
            .stage-oAuth{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                flex-wrap: wrap;
                .filter-button{
                    padding: 5px 10px;
                    border-radius: 5px;
                    background-color: rgba(0, 0, 0, 0.315);
                    color: white;
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    text-wrap: nowrap;
                    transition: 0.2s all ease-in-out;
                    text-shadow: 0px 0px 2px black;
                    flex:auto;
                }
                .filter-button:hover{
                    background-color: rgba(0, 0, 0, 0.644);
                }
                .active-filter{
                    background-color: rgba(0, 0, 0, 0.644);
                }
            }
        }
    }
    .hide-modal{
      animation: hideModal 0.55s;
    }
      @keyframes hideModal {
        0%{
          scale: 1;
          box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.247);
        }
        30%{
          scale:1.1
        }
        100%{
          box-shadow:  0px 0px 10px rgba(0, 0, 0, 0);
          scale: 0;
        }
    }
    @keyframes modalPopup {
        0%{
            scale: 0.7;
            box-shadow:  0px 0px 10px rgba(0, 0, 0, 0);
        }
        60%{
            scale: 1.1;
        }
        100%{
            box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.247);
            scale: 1;
        }
    }
}

    }
    .filters-align::-webkit-scrollbar{
        display: none;
    }

    .no-posts-todisplay{
        display: flex;
        width: 100%;
        justify-content: center;
        height: 200px;
        align-items: center;
        color: white;
        gap: 10px;
    }
    .profile-align{
        width: 80%;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        .log-out{
           color: white;
           display: flex;
           gap: 5px;
           cursor: pointer;
           align-items: center;
        }
        .profile-container-align{
            display: flex;
            flex-direction: column;
            align-items: center;
            .profile-container{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color: black;
                .profile{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .username{
                text-wrap: nowrap;
                max-width: 250px;
                overflow: hidden;    
                color: white;
            }
        }
    }
    .profile-header{
        width: 80%;
        display: flex;
        padding: 10px 0px;
        gap: 30px;
        p{
            color: white;
            cursor: pointer;
            padding: 5px 0px;
            border-bottom:2px solid transparent;
        }
        .active{
            border-bottom:2px solid white;
            animation: active 0.5s;
        }
        @keyframes active {
            0%{
               border-bottom:2px solid transparent;
            }
            100%{
               border-bottom:2px solid white;
            }
        }
    }
    .photo-align{
        width: 80%;
        display: flex;
        gap: 5px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        .album{
           height: 350px;
           max-width: 600px;
        }
        .sort-cards{
          animation: openSortCards 0.5s;
        }
        @keyframes openSortCards {
          0%{
            opacity: 0.5;
            scale: 0.9;
          }
          50%{
            opacity: 1;
          }
          100%{
            scale: 1;
          }
        }
    }
    .orders-align{
        grid-template-columns: repeat(3,1fr);
        .order-card{
            display: flex;
            flex-direction: column;
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.336);
            border-radius: 10px;
            gap: 10px;
            border: 1px solid grey;
            .card-title-align{
              display: flex;
              justify-content: space-between;
              .detail{
                color: white;
                border-radius: 10px;
                padding: 5px 20px;
                background-color: rgba(0, 0, 0, 0.527);
                display: flex;
                gap: 5px;
                p{
                  display: flex;
                  gap: 10px;
                  color: white;
                  align-items: center;
                  b{
                    color: white;
                  }
                }
                b{
                  font-size: 18px;
                }
                text-wrap: nowrap;
                max-width: 250px;
                overflow-x: scroll;
              }
              .detail::-webkit-scrollbar{
                display: none;
              }
              .detail-button{
                font-size: 14px;
                cursor: pointer;
                transition: 0.2s all ease-in-out;
              }
              .payed{
                background-color: green;
              }
              .topay{
                background-color: rgba(255, 136, 0, 0.774);
              }
              .payed:hover{
                background-color: rgb(2, 184, 2);
              }
              .topay:hover{
                background-color: orangered;
              }
            }
          .order-container{
              width: 100%;
              display: flex;
              justify-content: space-between;
              gap: 10px;
              .album{
                width: 100%;
              }
            .order-details{
              color: white;
              display: grid;
              flex-direction: column;
              grid-template-columns: repeat(1,1fr);
              gap: 5px;
              .detail{
                display: flex;
                align-items: center;
                gap: 10px;
                border-radius: 10px;
                max-width: 230px;
                min-width: 130px;
                padding: 5px 10px;
                background-color: rgba(0, 0, 0, 0.418);
                font-size: 14px;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                overflow-x: scroll;
                color: rgba(255, 255, 255, 0.856);
                .fa-spinner{
                  animation: spinner 5.5s infinite;
                }
                @keyframes spinner {
                  0%{
                    transform: rotate(0deg);
                  }
                  50%{
                    transform: rotate(360deg);
                  }
                  100%{
                    transform: rotate(-360deg);
                  }
                }
              }
              .detail::-webkit-scrollbar{
                display: none;
              }
              .detail:hover{
                color: white;
                // background-color: rgba(0, 0, 0, 0.603);
                cursor: pointer;
              }
              
              .payed{
                color: green;
              }
              .topay{
                color: orangered;
              }
            }
          }
       }
    }
    .filters-align{
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        width: 80%;
        .section-title-align{
            display: flex;
            width: 80%;
            .section-title{
                color: white;
                display: flex;
                gap: 10px;
                align-items: center;
                text-wrap: nowrap;
            }
         }
        .open-filter{
          padding: 10px 20px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          color: white;
          background-color: rgba(0, 0, 0, 0.541);
        }
}

    }
    .filters-align::-webkit-scrollbar{
        display: none;
    }
@media screen and (max-width:1500px){
    .gallery-align{
      .orders-align{
        grid-template-columns: repeat(2,1fr);
      }
  }
}
@media screen and (max-width:1200px){
    .gallery-align{
       .photo-align{
        grid-template-columns: repeat(3,1fr);
         .album{
           height: 250px;
        }
      }
      .orders-align{
        grid-template-columns: repeat(2,1fr);
      }
  }
}
@media screen and (max-width:1000px){
    .gallery-align{
      .photo-align{
        width: 90%;
      }
      .profile-header{
        width: 90%;
      }
      .profile-align{
        width: 90%;
      }
      .orders-align{
        .order-card{
          .card-title-align{
            gap: 5px;
          }
        }
        }
      }
}
@media screen and (max-width:800px){
    .gallery-align{
      .photo-align{
        grid-template-columns: repeat(2,1fr);
        .album{
          height: 200px;
        }
      }
      .orders-align{
        grid-template-columns: repeat(2,1fr);
        .order-card{
          padding: 5px;
          gap: 5px;
        .card-title-align{
          flex-direction: row;
          .detail{
            font-size: 12px;
            max-width: 150px;
            padding: 5px 10px;
          }
          .detail-button{
            font-size: 12px;
          }
        }
        .order-container{
          gap: 5px;
          .order-details{
            .detail{
              text-wrap: wrap;
              font-size: 12px;
            }
          }
        }
      }
      }
  }
}


@media screen and (max-width:600px){
    .gallery-align{
       .photo-align{
        width: 90%;
         .album{
           height: 200px;
        }
       
      }
      .filters-align{
        width: 90%;
      }
      .profile-header{
        width: 90%;
      }
      .profile-align{
          width: 90%;
          padding: 0;
          .profile-container-align
          {
            .profile-container{
                width: 100px;
                height: 100px;
            }
            .username{
            max-width: 140px;
            }
        }
      }
      .profile-header{
        p{
            font-size: 16px;
        }
      }
       .orders-align{
          grid-template-columns: repeat(1,1fr);
        }
    }
    .gallery-align{
      .orders-align{
        .order-container{
          .order-details{
            width: 70%;
          }
        }
      }
    }
}
@media screen and (max-width:500px){
    .gallery-align{
        .profile-align{
          .profile-container-align
          {
            .profile-container{
                width: 70px;
                height: 70px;
            }
          }
        }
      .orders-align{
        .order-container{
          .order-details{
            width: 50%;
          }
        }
      }
    }
}
@media screen and (max-width:400px){
    .gallery-align{
      .profile-header{
        p{
            font-size: 14px;
        }
      }
  }
}

@media screen and (max-width:350px){
    .gallery-align{
      .photo-align{
        grid-template-columns: repeat(1,1fr);
        width: 90%;
         .album{
           height: 200px;
        }
      }
  }
}
   