.background-photo-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    .photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }
    .backfadereverse{
        animation: 0.5s backFadeReverse;
    }
    .backfade{
        animation: 0.5s backFade;
    }
    @keyframes backFade {
        0%{
            opacity: 0.2;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes backFadeReverse {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0.2;
        }
    }
}
.background-photo-blur{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(100px);
}

.center-component{
    width: 100%;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    .body-align{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
        width: 60%;
        position: relative;
        height: 700px;
        background: linear-gradient( rgba(0, 0, 0, 0.199),);
        backdrop-filter: blur(20px);
        padding:20px;
        border-radius: 10px;
        overflow-y: scroll;
        gap: 10px;
        .component{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .header-grid{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(1,1fr);
                .title{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                    color: white;
                    padding: 5px;
                }
                .card-information{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    position: relative;
                    justify-content: space-between;
                    gap: 20px;
                    .price-tag-align{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        .price-align{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            background-color: rgba(0, 0, 0, 0.342);
                            padding:2px 20px;
                            border-radius: 10px;
                            .bold-price{
                                color: white;
                                font-size: 20px;
                            }
                            .red-price{
                                color: red;  
                                font-size: 16px;
                                text-decoration: line-through; 
                                font-style: italic;
                            }
                        }
                        .discount-procent{
                            background-color: rgba(0, 0, 0, 0.342);
                            padding:2px 2px;
                            border-radius: 5px 5px 0px 0px;
                            width: 50px;
                            font-size: 12px;
                            text-align: center;
                            margin-left: 10px;
                            color: white;
                        }
                    }
                    .order-button{
                        width: 100%;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: green;
                        cursor: pointer;
                        color: white;
                        border: none;
                        outline: none;
                        transition: 0.3s;
                        margin-top: 10px;
                    }
                    .order-button:hover{
                        background-color: rgb(13, 175, 13);
                    }
                    // .next-button{
                    //     background-color: transparent;
                    // }
                    // .next-button:hover{
                    //     background-color: rgba(0, 0, 0, 0.39);   
                    // }
                }
            }
        }
.user-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
    padding: 10px;
    animation:fadeIn 0.5s;
    background-color: rgba(0, 0, 0, 0.247);
    .flex-columns{
        width: 100%;
        display: flex;
        gap: 15px;
    }
    .form-group{
        display: flex;
        gap: 5px;
        flex-direction: column;
        width: 100%;
        label{
            color: white;
            .fa-check{
                color: green;
            }
            .fa-close{
                color: red;
            }
        }
        .form-control{
            color: white;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            border: 1px solid white;
            background-color: transparent;
        }
        .invalid-inputs{
            border: 1px solid red;
            animation: invalidInput 0.5s;
        }
        @keyframes invalidInput {
            0%{
                scale: 0.7;
                opacity: 0;
                border: 1px solid transparent;
            }
            50%{
                scale: 1.05;
                opacity: 1;
            }
            100%{
                scale: 1;
                border: 1px solid red;
            }
        }
        .editable-fields{
            width: 100%;
            display: flex;
            gap: 10px;
            .edit{
                background-color: white;
                border: none;
                border-radius: 10px;
                padding:10px 20px;
                cursor: pointer;
                animation:fadeIn 0.5s
            }
            .close{
                background-color: red;
                color: white;
            }
            .confirm{
                background-color: green;
                color: white;
            }

        }
    }
    .rules-align{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: white;
        padding: 20px;
        .title{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
            p{
                color: rgb(214, 26, 26);
                scale: 2;
                margin: 0;
            }
        }
        .checkbox-align{
            display: flex;
            gap:5px;
            align-items: center;
            .checkbox{
                cursor: pointer;
            }
        }
        ul{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            gap: 10px;
        }
    }
}
    .component2{
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 10px;
        height: 250px;
        .photo-align{
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            .photo-container{
                border-radius: 5px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: relative;
                height: 100%;
                .photo{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .pop-up{
                    animation: 0.3s animPopUp;
                }
                @keyframes animPopUp {
                    0%{
                        scale: 0.9;
                    }
                    100%{
                        scale: 1;
                    }
                }
                }
            }
        }
    }
    .body-align::-webkit-scrollbar {
        width: 8px; 
        height: 8px;
    }
    .body-align::-webkit-scrollbar-track {
       background: transparent;
       border-radius: 10px;
    }
    .body-align::-webkit-scrollbar-thumb {
       background: rgba(0,0,0,0.4); 
       border-radius: 10px;
    }
    .body-align::-webkit-scrollbar-button {
       display: none;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        scale: 0.7;
    }
    50%{
        opacity: 1;
    }
    100%{
        scale: 1;
    }
}

@media screen and (max-width:1000px) {
    .center-component{
        .body-align{
            width: 80%;
        }
    }
}
@media screen and (max-width:700px) {
    .center-component{
        .body-align{
            width: 90%;
        }
    }
}
@media screen and (max-width:600px) {
    .center-component{
        .body-align{
            width: 90%;
            grid-template-columns: repeat(1,1fr);
            display: flex;
            flex-direction: column-reverse;
            height: 100%;
            overflow: auto;
            gap: 30px;
            .component{
                    padding: 0;
                .header-grid{
                    padding: 0;
                    width: 100%;
                }
            }
            .component2{
                position: relative;
            }
        }
    }
}
@media screen and (max-width:700px) {
    .center-component{
        .component{
            width: 90%;
        }
    }
}
@media screen and (max-width:400px) {
    .center-component{
        .component{
            .header-grid{
                gap: 50px;
                .photo-align{
                    .photo-container{
                        height: 200px;
                    }
                }
                .card-information{
                    .header-title{
                        .discount-mark{
                            left: 20px;
                        }
                    }
                }
            }
        }
    }
}