.center-component{
    width: 100%;
    display: flex;
    justify-content: center;
    .component{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .header-grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
           .photo-align{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                justify-content: flex-start;
                width: 100%;
                .photo-container{
                    width: 100%;
                    height: 400px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    .photo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .pop-up{
                        animation: 0.3s animPopUp;
                    }
                    @keyframes animPopUp {
                        0%{
                            scale: 0.9;
                        }
                        100%{
                            scale: 1;
                        }
                    }
                    .next-photo-align{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .next-photo{
                            height: 100%;
                            padding: 10px 20px;
                            background-color: rgba(0, 0, 0, 0.055);
                            border: none;
                            color: white;
                            cursor: pointer;
                            transition: 0.3s all ease-in-out;
                        }
                        .next-photo:hover{
                            background-color: rgba(0, 0, 0, 0.411);
                        }
                    }
                    .unordered-list{
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 10px 0px;
                        gap: 10px;
                        align-items: center;
                        span{
                            cursor: pointer;
                            color: white;
                            .far{
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                border: 2px solid white;
                            }
                            .fas{
                                width: 13px;
                                height: 13px;
                                border-radius: 50%;
                                border: 2px solid white;
                                background-color: white;
                            }
                        }
                    }
                }
            }
            .photo-align-one{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                width: 100%;
                gap: 2px;
                .photo-container{
                    width: 100%;
                    height: 350px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    .photo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.3s all ease-in-out;
                        cursor: pointer;
                    }
                }
                 .photo-container:hover .photo{
                    scale: 1.1;
                }
            }

            .card-information{
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                height: 100%;
                backdrop-filter: blur(20px);
                position: relative;
                justify-content: space-between;
                padding: 20px;
                background: linear-gradient(transparent, rgba(0, 0, 0, 0.14));
                .header-title{
                    color: white;
                    display: flex;
                    justify-content: center;
                    .discount-mark{
                        position: absolute;
                        top: -20px;
                        left: -20px;
                    }
                    .title{
                        font-size: 25px;
                    }
                }
                .description-align{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .description{
                        color: white;
                        text-align: center;
                        font-size: 20px;
                    }
                }
                .price-tag-align{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    .bold-price{
                        color: white;
                        font-size: 40px;
                    }
                    .red-price{
                        color: red;  
                        text-decoration: line-through; 
                        font-size: 30px; 
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1000px) {
    .center-component{
        .component{
            .header-grid{
                grid-template-columns: repeat(1,1fr);
                .card-information{
                    gap: 30px;
                }
            }
        }
    }
}
@media screen and (max-width:700px) {
    .center-component{
        .component{
            .header-grid{
                gap: 50px;
                .photo-align{
                    .photo-container{
                        height: 300px;
                    }
                }
                .card-information{
                    .header-title{
                        .discount-mark{
                            left: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:400px) {
    .center-component{
        .component{
            .header-grid{
                gap: 50px;
                .photo-align{
                    .photo-container{
                        height: 200px;
                    }
                }
                .card-information{
                    .header-title{
                        .discount-mark{
                            left: 20px;
                        }
                    }
                }
            }
        }
    }
}