.center-component{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    padding: 30px 0px;
    .component{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        .header-grid{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
            .photo-align{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                justify-content: flex-start;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.342);   
                position: relative;
                border-radius: 5px;
                border: 1px solid rgba(128, 128, 128, 0.342);
                .photo-container{
                    border-radius: 5px;
                    width: 100%;
                    height: 400px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    .photo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        max-width: 1000px;

                    }
                    .pop-up{
                        animation: 0.3s animPopUp;
                    }
                    
                    @keyframes animPopUp {
                        0%{
                            scale: 0.9;
                        }
                        50%{
                            scale: 1.1;
                        }
                        100%{
                            scale: 1;
                        }
                    }
                    .next-photo-align{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .camera-button{
                            scale: 2;
                            background-color: rgba(0, 0, 0, 0.089);
                            color: rgba(255, 255, 255, 0.048);
                            border: none;
                            cursor: pointer;
                            padding: 10px;
                            border-radius: 5px;
                            transition: 0.2s all ease-in-out;
                            z-index: 5;
                            .fas{
                                color: rgb(255, 255, 255);
                            }
                        }               
                        .camera-button:hover{
                            color: white;
                            background-color: rgba(0, 0, 0, 0.274);
                        }
                        .next-photo{
                            height: 100%;
                            width: 100%;
                            border: none;
                            color: white;
                            cursor: pointer;
                            transition: 0.3s all ease-in-out;
                            display: flex;
                            align-items: center;
                            padding: 0px 20px;
                            justify-content: flex-end;
                            .chevron{
                                padding: 20px;
                                display: flex;
                                background-color: rgba(0, 0, 0, 0.089);
                                align-items: center;
                                justify-content: center;
                                border-radius: 10px;
                            }
                        }
                        .previous{
                            justify-content: flex-start;
                        }
                    }
                    .unordered-list{
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 10px 0px;
                        gap: 10px;
                        align-items: center;
                        span{
                            cursor: pointer;
                            color: white;
                            .far{
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                border: 2px solid white;
                            }
                            .fas{
                                width: 13px;
                                height: 13px;
                                border-radius: 50%;
                                border: 2px solid white;
                                background-color: white;
                            }
                        }
                    }
                }
            }
            .photo-align-one{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                width: 100%;
                gap: 2px;
                .photo-container{
                    width: 100%;
                    height: 350px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    .photo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.3s all ease-in-out;
                        cursor: pointer;
                    }
                }
                 .photo-container:hover .photo{
                    scale: 1.1;
                }
            }

            .card-information{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                justify-content: space-between;
                // box-shadow: 0px 0px 5px black;
                padding: 20px;
                gap:20px;
                position: relative;
                background-color: rgba(0, 0, 0, 0.342);
                border: 1px solid rgba(128, 128, 128, 0.342);
                .quantity-align{
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .discount-procent{
                    color: white;
                    z-index: 2;
                    left: -20px;
                    top: 20px;
                    transform: rotate(-30deg);
                    width: 0px;
                    position: absolute;
                }
                .header-title{
                    color: white;
                    justify-content: space-between;
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .discount-mark{
                        position: absolute;
                        top: -20px;
                        left: -20px;
                    }
                    .title{
                        display: flex;
                        align-items: center;
                        text-align: center;
                        font-size: 22px;
                    }
                }
                .backdrop-card{
                    background-color: rgba(0, 0, 0, 0.342);
                    padding: 5px 10px;
                    border-radius: 10px;
                }
                .desc-align{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .desc{
                        color: white;
                        padding: 10px;
                        border-radius: 10px;
                        line-height: 30px;
                        font-size: 20px;
                    }
                    .desc-title{
                        color: white;
                        width: 100px;
                        text-align: center;
                        padding: 5px 10px;
                        border: 1px solid rgba(128, 128, 128, 0.342);
                        border-radius: 5px;
                    }
                }
                .price-tag-align{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    .price-align{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        padding:2px 20px;
                        border-radius: 5px;
                        border: 1px solid rgba(128, 128, 128, 0.342);
                        .bold-price{
                            color: white;
                            font-size: 20px;
                        }
                        .red-price{
                            color: orangered;  
                            font-size: 16px;
                            text-decoration: line-through; 
                            font-style: italic;
                        }
                    }

                }
                .order-button{
                    padding: 5px;
                    border-radius: 10px;
                    background-color: transparent;
                    cursor: pointer;
                    color: white;
                    border: none;
                    outline: none;
                    border: 1px solid rgba(128, 128, 128, 0.467);
                    background-color: rgba(0, 0, 0, 0.367);
                    margin-top: 10px;
                    max-width: 300px;
                    padding: 10px 50px;
                    font-size: 20px;
                    font-family: inherit;
                    transition: 0.2s all ease-in-out;
                    margin-top: 30px;
                }
                .order-button:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}
.big-photo-container{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90;
    // background-color: rgb(24, 23, 23);
    backdrop-filter: blur(30px);
    animation: bigPhotoEnter 0.3s;
    .whole-screen-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 50px;
        position: relative;
        .photo{
            height: 100%;
            width: 100%;
            object-fit: contain;
            display: none;
        }
        .scroll-left{
            animation: scrolLeft 0.3s;
        }
        .scroll-right{
            animation: scrolRight 0.3s;
        }
        .pop-up{
            animation: popup 0.3s;
            display: flex;
        }
        @keyframes popup {
            0%{
                display: flex;
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        .x-button{
            position: absolute;
            right:20px;
            top: 20px;
            width: 40px;
            height: 40px;
            background-color: transparent;
            outline: none;
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            z-index: 4;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            .fas{
                scale: 2;
            }
        }
        .x-button:hover{
            background-color: black;
            border: 1px solid red;
            color: red;
        }
        .next-photo-align{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .next-photo{
                height: 100%;
                width: 50%;
                background-color: transparent;
                border: none;
                color: white;
                cursor: pointer;
                transition: 0.3s all ease-in-out;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 20px;
                outline: none;
            }
            .next-photo:focus{
                background-color: transparent;
            }

            .previous-photo{
                justify-content: flex-start;
            }
        }
        .unordered-list{
            display: flex;
            width: 100%;
            justify-content: center;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 10px 0px;
            gap: 10px;
            align-items: center;
            span{
                cursor: pointer;
                color: white;
                .far{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 2px solid white;
                }
                .fas{
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    border: 2px solid white;
                    background-color: white;
                }
            }
        }
    }
}
@keyframes bigPhotoEnter {
    0%{
        background-color: transparent;
    }
    100%{
    }
}

@media screen and (max-width:1200px) {
    .center-component{
        .component{
            width: 80%;
        }
    }
}
@media screen and (max-width:1000px) {
    .center-component{
        .component{
            .header-grid{
                grid-template-columns: repeat(1,1fr);
                .card-information{
                    gap: 30px;
                }
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .center-component{
        .component{
            .header-grid{
                .card-information{
                    .discount-procent{
                        left: -5px;
                        top: 5px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:700px) {
    .center-component{
        .component{
            .header-grid{
                .photo-align{
                    .photo-container{
                        height: 250px;
                        .next-photo-align{
                            .camera-button{
                                scale: 1.5;
                            }
                        }
                    }
                }
                .card-information{
                    .header-title{
                        .discount-mark{
                            left: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:700px) {
    .center-component{
        .component{
            width: 90%;
        }
    }
}
@media screen and (max-width:400px) {
    .center-component{
        .component{
            .header-grid{
                .photo-align{
                    .photo-container{
                        height: 200px;
                    }
                }
                .card-information{
                    .order-button{
                        font-size: 16px
                    }
                    .header-title{
                        .discount-mark{
                            left: 20px;
                        }
                    }
                }
            }
        }
    }
}