.center-component{
    width: 100%;
    display: flex;
    justify-content: center;
    .component{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .header-grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
           .photo-align{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                justify-content: flex-start;
                width: 100%;
                .photo-container{
                    border-radius: 5px;
                    width: 100%;
                    height: 400px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    .photo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .pop-up{
                        animation: 0.3s animPopUp;
                    }
                    @keyframes animPopUp {
                        0%{
                            scale: 0.9;
                        }
                        100%{
                            scale: 1;
                        }
                    }
                    .next-photo-align{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .camera-button{
                            scale: 2;
                            background-color: rgba(0, 0, 0, 0.027);
                            color: rgba(255, 255, 255, 0.048);
                            border: none;
                            cursor: pointer;
                            padding: 10px;
                            border-radius: 5px;
                            transition: 0.2s all ease-in-out;
                            z-index: 5;
                        }               
                        .camera-button:hover{
                            color: white;
                            background-color: rgba(0, 0, 0, 0.274);
                        }
                        .next-photo{
                            height: 100%;
                            width: 100%;
                            border: none;
                            color: white;
                            cursor: pointer;
                            transition: 0.3s all ease-in-out;
                            display: flex;
                            align-items: center;
                            padding: 0px 20px;
                            justify-content: flex-end;
                            .chevron{
                                padding: 20px;
                                display: flex;
                                background-color: rgba(0, 0, 0, 0.027);
                                align-items: center;
                                justify-content: center;
                                border-radius: 10px;
                            }
                        }
                        .next-photo:hover{
                        }
                        .previous{
                            justify-content: flex-start;
                        }
                    }
                    .unordered-list{
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 10px 0px;
                        gap: 10px;
                        align-items: center;
                        span{
                            cursor: pointer;
                            color: white;
                            .far{
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                border: 2px solid white;
                            }
                            .fas{
                                width: 13px;
                                height: 13px;
                                border-radius: 50%;
                                border: 2px solid white;
                                background-color: white;
                            }
                        }
                    }
                }
            }
            .photo-align-one{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                width: 100%;
                gap: 2px;
                .photo-container{
                    width: 100%;
                    height: 350px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    .photo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.3s all ease-in-out;
                        cursor: pointer;
                    }
                }
                 .photo-container:hover .photo{
                    scale: 1.1;
                }
            }

            .card-information{
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                height: 100%;
                backdrop-filter: blur(20px);
                position: relative;
                justify-content: space-between;
                padding: 20px;
                background: linear-gradient(transparent, rgba(0, 0, 0, 0.14));
                .header-title{
                    color: white;
                    display: flex;
                    justify-content: center;
                    .discount-mark{
                        position: absolute;
                        top: -20px;
                        left: -20px;
                    }
                    .title{
                        font-size: 25px;
                    }
                }
                .description-align{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .description{
                        color: white;
                        text-align: center;
                        font-size: 20px;
                    }
                }
                .price-tag-align{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    .bold-price{
                        color: white;
                        font-size: 40px;
                    }
                    .red-price{
                        color: red;  
                        text-decoration: line-through; 
                        font-size: 30px; 
                    }
                }
                .order-button{
                    width: 100%;
                    padding: 5px;
                    border-radius: 10px;
                    background-color: green;
                    cursor: pointer;
                    color: white;
                    border: none;
                    outline: none;
                    transition: 0.3s;
                }
                .order-button:hover{
                    background-color: rgb(13, 175, 13);
                }
            }
        }
    }
}
.big-photo-container{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.193);
    backdrop-filter: blur(30px);
    animation: bigPhotoEnter 1.5s;
    .whole-screen-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 50px;
        position: relative;
        .photo{
            animation: photoScaleAnim 0.5s;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        .x-button{
            position: absolute;
            right:20px;
            top: 20px;
            width: 40px;
            height: 40px;
            background-color: transparent;
            outline: none;
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            z-index: 4;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            .fas{
                scale: 2;
            }
        }
        .x-button:hover{
            background-color: black;
            border: 1px solid red;
            color: red;
        }
        .next-photo-align{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .next-photo{
                height: 100%;
                width: 50%;
                background-color: transparent;
                border: none;
                color: white;
                cursor: pointer;
                transition: 0.3s all ease-in-out;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 20px;
                outline: none;
            }
            .next-photo:focus{
                background-color: transparent;
            }
            .next-photo{
            }
            .previous-photo{
                justify-content: flex-start;
            }
        }
        .unordered-list{
            display: flex;
            width: 100%;
            justify-content: center;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 10px 0px;
            gap: 10px;
            align-items: center;
            span{
                cursor: pointer;
                color: white;
                .far{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 2px solid white;
                }
                .fas{
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    border: 2px solid white;
                    background-color: white;
                }
            }
        }
    }
}
@keyframes bigPhotoEnter {
    0%{
        background-color: transparent;
        backdrop-filter: blur(0px);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.193);
        backdrop-filter: blur(30px);
    }
}
@keyframes photoScaleAnim {
    0%{
        scale: 0.8;
    }
    50%{
        scale: 1.1;
    }
    100%{
        opacity: 1;
    }
}
@media screen and (max-width:1000px) {
    .center-component{
        .component{
            .header-grid{
                grid-template-columns: repeat(1,1fr);
                .card-information{
                    gap: 30px;
                }
            }
        }
    }
}
@media screen and (max-width:700px) {
    .center-component{
        .component{
            .header-grid{
                gap: 50px;
                .photo-align{
                    .photo-container{
                        height: 300px;
                    }
                }
                .card-information{
                    .header-title{
                        .discount-mark{
                            left: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:700px) {
    .center-component{
        .component{
            width: 90%;
        }
    }
}
@media screen and (max-width:400px) {
    .center-component{
        .component{
            .header-grid{
                gap: 50px;
                .photo-align{
                    .photo-container{
                        height: 200px;
                    }
                }
                .card-information{
                    .header-title{
                        .discount-mark{
                            left: 20px;
                        }
                    }
                }
            }
        }
    }
}