<div class="center-component">
    <div class="component">
        <div class="header-grid">
            <div class="photo-align" >
                <div class="photo-container"  data-aos="fade-in">
                    <div *ngFor="let p of photosArray; let i = index" >
                        <img [src]="p.photoUrl" alt="" class="photo" *ngIf="i==photoVisibleNum" [ngClass]="{'pop-up':i==photoVisibleNum}">
                        <div class="next-photo-align">
                            <button class="next-photo" (click)="previousPhoto()"><i class="fas fa-chevron-left"></i></button>
                            <button class="camera-button" (click)="showBigPhoto()"><i class="fas fa-camera"></i></button>
                            <button  class="next-photo" (click)="nextPhoto()"><i class="fas fa-chevron-right"></i></button>
                        </div>
                        <div class="unordered-list" >
                            <span *ngFor="let p of photosArray;let photoNum = index">
                                <i class="far" *ngIf="photoNum != photoVisibleNum" (click)="getOnTheClickedPhoto(photoNum)"></i>
                                <i class="fas" *ngIf="photoNum == photoVisibleNum"(click)="getOnTheClickedPhoto(photoNum)"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-information">
                <div class="header-title" >
                 <app-discount-mark *ngIf="postsLoaded" [discount]="posts"class="discount-mark"></app-discount-mark>
                 <b class="title">{{posts.title}}</b>     
                </div>
                <div class="price-tag-align" >
                    <b class="bold-price" [ngClass]="{'red-price':posts.discountedPrice>0}" >{{posts.price}}₾</b>
                    <b class="bold-price" *ngIf="posts.discountedPrice>0">{{posts.discountedPrice}}₾</b>
                </div>
                <div class="description-align">
                    <p class="description">{{posts.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=""*ngIf="bigPhotoVisible">
    <div *ngFor="let p of photosArray; let i = index" class="whole-screen-img">
    <img [src]="p.photoUrl" alt="" class="photo" *ngIf="i==photoVisibleNum" [ngClass]="{'pop-up':i==photoVisibleNum}">
        <div class="next-photo-align">
            <button class="next-photo" (click)="previousPhoto()"><i class="fas fa-chevron-left"></i></button>
            <button  class="next-photo" (click)="nextPhoto()"><i class="fas fa-chevron-right"></i></button>
        </div>
        <div class="unordered-list" >
            <span *ngFor="let p of photosArray;let photoNum = index">
                <i class="far" *ngIf="photoNum != photoVisibleNum" (click)="getOnTheClickedPhoto(photoNum)"></i>
                <i class="fas" *ngIf="photoNum == photoVisibleNum"(click)="getOnTheClickedPhoto(photoNum)"></i>
            </span>
        </div>
    </div>
</div>