@font-face {
  font-family: "helv";
  src: url("/assets//fonts/HelveticaNeueLTGEO-45Light.eot");
  src: url("/assets/fonts/HelveticaNeueLTGEO-45Light.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/HelveticaNeueLTGEO-45Light.woff2") format("woff2"),
    url("/assets/fonts/HelveticaNeueLTGEO-45Light.woff") format("woff"),
    url("/assets/fonts/HelveticaNeueLTGEO-45Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "helv";
  src: url("/assets/fonts/HelveticaNeueLTGEO-75Bold.eot");
  src: url("/assets/fonts/HelveticaNeueLTGEO-75Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/HelveticaNeueLTGEO-75Bold.woff2") format("woff2"),
    url("/assets/fonts/HelveticaNeueLTGEO-75Bold.woff") format("woff"),
    url("/assets/fonts/HelveticaNeueLTGEO-75Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "helv";
  src: url("/assets/fonts/HelveticaNeueLTGEO-55Roman.eot");
  src: url("/assets/fonts/HelveticaNeueLTGEO-55Roman.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/HelveticaNeueLTGEO-55Roman.woff2") format("woff2"),
    url("/assets/fonts/HelveticaNeueLTGEO-55Roman.woff") format("woff"),
    url("/assets/fonts/HelveticaNeueLTGEO-55Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.light-font {
  font-family: "helv";
  font-weight: 300;
  font-style: normal;
}

.normal-font {
  font-family: "helv";
  font-weight: normal;
  font-style: normal;
}

.bold-font {
  font-family: "helv";
  font-weight: bold;
  font-style: normal;
}

.light-font-upper {
  font-family: "helv";
  font-weight: 300;
  font-style: normal;
  font-feature-settings: "case" on;
}

.normal-font-upper {
  font-family: "helv";
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "case" on;
}

.bold-font-upper {
  font-family: "helv";
  font-weight: bold;
  font-style: normal;
  font-feature-settings: "case" on;
}

a,
span,
div,
body,
tr,
td {
  font-family: "helv";
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
p {
  margin: 0;
}
ul {
  margin: 0;
}
button {
  color: black;
}

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
}
.background {
  // Sophisticated dark gradient - elegant and minimalist for a premium brand
  // background: linear-gradient(135deg, #48484d 0%, #1c202b 25%, #233750 50%, #27273c 75%, #0d1b2a 100%);
  background-color: #23232b;
  width: 100%;
  height: 120%;
  z-index: -2;
  overflow: hidden;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stars {
  width: 1px;
  height: 1px;
  position: absolute;
  background: white;
  animation: twinkle 8s infinite linear;
}

.shooting-star {
  position: absolute;
  width: 50px;
  height: 2px;
  background: linear-gradient(90deg, white, transparent);
  animation: shoot 3s infinite ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shooting-star:nth-child(1) {
  top: 20%;
  left: -100px;
  animation-delay: 0s;
}

.shooting-star:nth-child(2) {
  top: 35%;
  left: -100px;
  animation-delay: 1s;
}

.shooting-star:nth-child(3) {
  top: 50%;
  left: -100px;
  animation-delay: 2s;
}
.shooting-star:nth-child(4) {
  top: 75%;
  left: -100px;
  animation-delay: 2s;
}
.shooting-star:nth-child(5) {
  top: 105%;
  left: -100px;
  animation-delay: 2s;
}
.shooting-star:nth-child(6) {
  top: 25%;
  left: -800px;
  animation-delay: 2s;
}
.shooting-star:nth-child(7) {
  top: 25%;
  left: -200px;
  animation-delay: 2s;
}
.shooting-star:nth-child(8) {
  top: 45%;
  left: -400px;
  animation-delay: 2s;
}
.shooting-star:nth-child(9) {
  top: 5%;
  left: -600px;
  animation-delay: 2s;
}
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes shoot {
  0% {
    transform: translateX(0) translateY(0) rotate(25deg);
    opacity: 1;
  }
  100% {
    transform: translateX(120vw) translateY(50vh) rotate(25deg);
    opacity: 0;
  }
}

.stars::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: rgba(212, 175, 55, 0.8);
  animation: twinkle 6s infinite linear reverse;
}
label {
  min-width: none;
}

.center-pagenation {
  display: flex;
  width: 100%;
  justify-content: center;
  .pageination-align {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 50px 0px;
    .buttons-align {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      .next-button {
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: rgba(0, 0, 0, 0.274);
        box-shadow: 0px 0px 2px grey;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon-rotate-left {
        transform: rotate(180deg);
      }
      .btn {
        transition: 0.2s all ease-in-out;
        margin: 0;
      }
      .btn:hover {
        background-color: white;
      }
      .page-numbers-align {
        display: flex;
        gap: 3px;
        .pageination-buttons {
          border: none;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 14px;
          transition: 0.2s;
          background-color: rgba(0, 0, 0, 0.274);
          box-shadow: 0px 0px 2px grey;
          cursor: pointer;
          color: white;
        }
        .pageination-buttons:hover {
          color: black;
          background-color: white;
        }
        .selected {
          color: black;
          background-color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .center-pagenation {
    .pageination-align {
      width: 90%;
    }
  }
}
