@font-face {
  font-family: "helv";
  src: url("/assets//fonts/HelveticaNeueLTGEO-45Light.eot");
  src: url("/assets/fonts/HelveticaNeueLTGEO-45Light.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/HelveticaNeueLTGEO-45Light.woff2") format("woff2"),
    url("/assets/fonts/HelveticaNeueLTGEO-45Light.woff") format("woff"),
    url("/assets/fonts/HelveticaNeueLTGEO-45Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "helv";
  src: url("/assets/fonts/HelveticaNeueLTGEO-75Bold.eot");
  src: url("/assets/fonts/HelveticaNeueLTGEO-75Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/HelveticaNeueLTGEO-75Bold.woff2") format("woff2"),
    url("/assets/fonts/HelveticaNeueLTGEO-75Bold.woff") format("woff"),
    url("/assets/fonts/HelveticaNeueLTGEO-75Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "helv";
  src: url("/assets/fonts/HelveticaNeueLTGEO-55Roman.eot");
  src: url("/assets/fonts/HelveticaNeueLTGEO-55Roman.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/HelveticaNeueLTGEO-55Roman.woff2") format("woff2"),
    url("/assets/fonts/HelveticaNeueLTGEO-55Roman.woff") format("woff"),
    url("/assets/fonts/HelveticaNeueLTGEO-55Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.light-font {
  font-family: "helv";
  font-weight: 300;
  font-style: normal;
}

.normal-font {
  font-family: "helv";
  font-weight: normal;
  font-style: normal;
}

.bold-font {
  font-family: "helv";
  font-weight: bold;
  font-style: normal;
}

.light-font-upper {
  font-family: "helv";
  font-weight: 300;
  font-style: normal;
  font-feature-settings: "case" on;
}

.normal-font-upper {
  font-family: "helv";
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "case" on;
}

.bold-font-upper {
  font-family: "helv";
  font-weight: bold;
  font-style: normal;
  font-feature-settings: "case" on;
}

a,
span,
div,
body,
tr,
td {
  font-family: "helv";
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
p {
  margin: 0;
}
ul {
  margin: 0;
}
button {
  color: black;
}

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
}

label {
  min-width: none;
}

.center-pagenation {
  display: flex;
  width: 100%;
  justify-content: center;
  .pageination-align {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 50px 0px;
    .buttons-align {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      .next-button {
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: rgba(0, 0, 0, 0.274);
        box-shadow: 0px 0px 2px grey;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon-rotate-left {
        transform: rotate(180deg);
      }
      .btn {
        transition: 0.2s all ease-in-out;
        margin: 0;
      }
      .btn:hover {
        background-color: white;
      }
      .page-numbers-align {
        display: flex;
        gap: 3px;
        .pageination-buttons {
          border: none;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 14px;
          transition: 0.2s;
          background-color: rgba(0, 0, 0, 0.274);
          box-shadow: 0px 0px 2px grey;
          cursor: pointer;
          color: white;
        }
        .pageination-buttons:hover {
          color: black;
          background-color: white;
        }
        .selected {
          color: black;
          background-color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .center-pagenation {
    .pageination-align {
      width: 90%;
    }
  }
}
