@font-face {
    font-family: 'helv';
    src: url('/assets//fonts/HelveticaNeueLTGEO-45Light.eot');
    src: url('/assets/fonts/HelveticaNeueLTGEO-45Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueLTGEO-45Light.woff2') format('woff2'),
    url('/assets/fonts/HelveticaNeueLTGEO-45Light.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueLTGEO-45Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'helv';
    src: url('/assets/fonts/HelveticaNeueLTGEO-75Bold.eot');
    src: url('/assets/fonts/HelveticaNeueLTGEO-75Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueLTGEO-75Bold.woff2') format('woff2'),
    url('/assets/fonts/HelveticaNeueLTGEO-75Bold.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueLTGEO-75Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'helv';
    src: url('/assets/fonts/HelveticaNeueLTGEO-55Roman.eot');
    src: url('/assets/fonts/HelveticaNeueLTGEO-55Roman.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueLTGEO-55Roman.woff2') format('woff2'),
    url('/assets/fonts/HelveticaNeueLTGEO-55Roman.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueLTGEO-55Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.light-font {
    font-family: 'helv'; font-weight: 300; font-style: normal;
}

.normal-font {
    font-family: 'helv'; font-weight: normal; font-style: normal;
}

.bold-font {
    font-family: 'helv'; font-weight: bold; font-style: normal;
}

.light-font-upper {
    font-family: 'helv'; font-weight: 300; font-style: normal;
    font-feature-settings: 'case' on;
}

.normal-font-upper {
    font-family: 'helv'; font-weight: normal; font-style: normal;
    font-feature-settings: 'case' on;
}

.bold-font-upper {
    font-family: 'helv'; font-weight: bold; font-style: normal;
    font-feature-settings: 'case' on;
}

a, span, div, body, tr, td {
  font-family: 'helv';
  font-weight: normal;
  font-style: normal;
}









html,body{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  p{
    margin: 0;
}
ul{
    margin: 0;
}
button{
    color: black;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  .background{
    background: linear-gradient(to bottom, #232323, #151210, #0a0908);
    background: linear-gradient(to bottom, #1f201f,#131111, #474747  );
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    place-items: center;
  }




 @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// .gradient {
//   --size: 600px;
//   --speed: 50s;
//   --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
//   width: var(--size);
//   height: var(--size);
//   filter: blur(calc(var(--size) / 5));
//   background-image: linear-gradient(hsl(222, 90%, 55%), hsl(203, 100%, 96%));
//   border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
//   position: fixed;
// }
// .anim1{
//   left: 0;
//   top: 0;
// }

// .anim2{
//   right: 0;
//   background-image: linear-gradient(hsl(222, 50%, 59%), hsl(202, 39%, 41%));
//   bottom: 0;
// }
// .anim4{
//   background-image: linear-gradient(hsl(253, 90%, 55%), hsla(118, 100%, 42%, 0.671));
//   right: 0;
//   top: 0;
// }
// .anim3{
//   background-image: linear-gradient(hsl(222, 90%, 55%), hsla(199, 100%, 50%, 0.678));
// }
// .anim5{
//   left: 0;
//   bottom: 0;
//   background-image: linear-gradient(hsl(222, 90%, 55%), hsl(110, 39%, 41%));
// }




 
@media screen and (max-width:600px){
  .gradient{
    width: 200px;
  }
}

  