<div class="card">
    <div class="title-price">
        <p class="title">{{posts.title}}</p>
    </div>
    <div class="img-container">
        <img class="img" [src]="posts.photos[0].photoUrl" alt="">
    </div>

    <div class="description">
        <div class="price-align">
            <b class="price">{{posts.price}}</b>
            <p class="price">₾ </p>
        </div>
        <!-- <div >
            <p class="description-text">{{posts.description}}</p>
        </div> -->
    </div>
</div>