  <div class="container">
    <header class="header">
        <div class="logo-align" >
            <p class="sub-title">გამოგვყევი სოც-ქსელებში!</p>
        </div>
    </header>
    <div class="midlle">
        <div class="link-align">
            <a class="link-button instagram" href="https://www.instagram.com/tsereteli__g/" target="_blank" >
               <div style="display: flex; align-items: center;">
                 <img src="assets/icons/instagram.svg" alt="">
                  Marusa_handmade
               </div>
               <div class="main-logo">
                <img src="assets/img/picolo.png" alt="" class="logo">
               </div>
            </a>
            <a class="link-button facebook" href="https://www.facebook.com/giorgi.wereteli.33" target="_blank">
                <div style="display: flex; align-items: center;">
                      <img src="assets/icons/facebook.svg" alt="">
                    Marusa_handmade
               </div>
               <div class="main-logo">
                <img src="assets/img/picolo.png" alt="" class="logo">
               </div>
            </a>
            <a class="link-button tiktok" href="https://www.tiktok.com/@ts3r00" target="_blank">
                <div style="display: flex; align-items: center;">
                    <img src="assets/icons/tiktok.svg" alt="" >
                    Marusa_handmade
               </div>
               <div class="main-logo">
                <img src="assets/img/picolo.png" alt="" class="logo">
               </div>
            </a>
        </div>
    </div>
</div>