  <div class="container" *ngIf="footer">
    <header class="header">
        <div class="logo-align" >
            <p class="sub-title">გამოგვყევი სოც-ქსელებში!</p>
        </div>
    </header>
    <div class="midlle">
        <div class="link-align">
            <a class="link-button instagram" *ngIf="footer.instagram" [href]="footer.instagram" target="_blank">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div class="main-logo">
                    <img [src]="footer.shopPhoto" alt="" class="shop-img">
                    </div>
                    {{footer.shopTitle}}
                </div>
                <img src="assets/icons/instagram.svg" alt="">
            </a>
            <a class="link-button facebook" *ngIf="footer.facebook"  [href]="footer.facebook" target="_blank">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div class="main-logo">
                    <img [src]="footer.shopPhoto" alt="" class="shop-img">
                    </div>
                    {{footer.shopTitle}}
                </div>
                <img src="assets/icons/facebook.svg" alt="">
            </a>
            <a class="link-button tiktok" *ngIf="footer.tiktok"  [href]="footer.tiktok" target="_blank">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <div class="main-logo">
                    <img [src]="footer.shopPhoto" alt="" class="shop-img">
                    </div>
                    {{footer.shopTitle}}
                </div>
                <img src="assets/icons/tiktok.svg" alt="">
            </a>
        </div>
    </div>
</div>