html,body{
    width: 100%;
    height: 100%;
    padding: 50px 0px 0px 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 25, 25, 0.441);
    padding: 40px 0px;
}
.link-align{
    display: flex;
    width: 80%;
    align-items: center;
    padding: 50px 0px;
    gap: 20px;
}
.midlle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 0px;
}
.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 100px;
}
.sub-title{
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}
a{
    text-decoration: none;
}
.logo-align{
    border: 1px solid transparent;
    width: 80%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
}
.main-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 900px){
    .link-align{
        flex-direction: column;
        padding: 10px 0px;
    }
}
@media screen and (max-width: 600px){
    .link-align{
        width: 90%;
    }
    .logo-align{
        width: 90%;
        padding: 0;
    }
}
@media screen and (max-width: 1100px){
    .header{
        height: 100%;
    }
}

  
  .link-button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.3s ease;
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .facebook{
    background: #0087ff66;
  }
  .tiktok{
    background: #ffffff80;
    color: black;
  }
  .facebook:hover {
    color: #ffffff;
    background: #1456ab ;
    border: 1px solid #1877F2 ;
    box-shadow: 0 0 5px #1877F2 , 0 0 20px #1877F2 , 0 0 50px #1877F2 ,
      0 0 100px #1877F2 ;
  }
  .instagram:hover{
    color: #ffffff;
    border: 1px solid #ff3766d3 ;
    box-shadow: 0 0 5px #ff3766d3, 0 0 20px #ff3766d3, 0 0 50px #ff3766d3,
      0 0 100px #ff3766d3;
  } 
  .tiktok:hover {
    background: #ffffffc2;
    border: 1px solid #ffffff80;
    box-shadow: 0 0 5px #ffffff80, 0 0 20px #ffffff80, 0 0 50px #ffffff80,
      0 0 100px #ffffff80;
  }


  .instagram {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }