  <div class="container">
    <header class="header" data-aos="fade-down">
        <div class="logo-align" >
            <div class="main-logo">
                <img src="assets/img/marusa_line.jpg" alt="" class="logo">
            </div>
            <p class="sub-title">გამოგვყევი სოც-ქსელებში!</p>
        </div>
    </header>
    <div class="midlle">
        <div class="link-align">
            <a class="link-button instagram" href="https://www.instagram.com/marusa__line/" target="_blank" data-aos="fade-left">
                <img src="assets/icons/instagram.svg" alt="">
                Instagram
            </a>
            <a class="link-button facebook" href="https://www.facebook.com/profile.php?id=61577870171515&mibextid=wwXIfr&rdid=4kwCPIVXIyPDM08J#" target="_blank" data-aos="fade-right">
                <img src="assets/icons/facebook.svg" alt="">
                Facebook
            </a>
            <a class="link-button tiktok"data-aos="fade-left">
                <img src="assets/icons/tiktok.svg" alt="" >
                Tiktok
            </a>
        </div>
    </div>
</div>