:host{
  width: 100%;
}
.gallery-align{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .photo-align{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: flex-start;
        .album{
          flex: auto;
           height: 350px;
           max-width: 600px;
        }
    }
    .filters-align{
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        width: 80%;
        .filter-button{
            padding: 5px 10px;
            border-radius: 5px;
            background-color: transparent;
            color: white;
            border: 1px solid white;
            backdrop-filter: blur(10px);
            cursor: pointer;
            font-size: 16px;
            text-wrap: nowrap;
            transition: 0.2s all ease-in-out;
        }
        .filter-button:hover{
            background-color: rgba(0, 0, 0, 0.541);
            border: 1px solid black;
        }
        .active-filter{
            background-color: rgba(0, 0, 0, 0.541);
            border: 1px solid black;
        }
    }
    .filters-align::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (max-width:1200px){
    .gallery-align{
       .photo-align{
         .album{
           flex: auto;
           height: 200px;
        }
    }
  }
}
@media screen and (max-width:800px){
    .gallery-align{
       .photo-align{
         .album{
           flex: auto;
           height: 200px;
        }
    }
  }
}
@media screen and (max-width:600px){
    .gallery-align{
       .photo-align{
        width: 90%;
         .album{
           flex: auto;
           height: 150px;
        }
    }
  }
}