:host{
  width: 100%;
}
.gallery-align{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .photo-align{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: flex-start;
        .album{
          flex: auto;
           height: 350px;
           max-width: 600px;
        }
        .sort-cards{
          animation: openSortCards 0.5s;
        }
        @keyframes openSortCards {
          0%{
            opacity: 0.5;
            scale: 0.9;
          }
          50%{
            opacity: 1;
          }
          100%{
            scale: 1;
          }
        }
    }
    .filters-align{
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        width: 80%;
        .section-title-align{
            display: flex;
            width: 80%;
            .section-title{
                color: white;
                display: flex;
                gap: 10px;
                align-items: center;
                text-wrap: nowrap;
            }
         }
        .open-filter{
          padding: 10px 20px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          color: white;
          background-color: rgba(0, 0, 0, 0.541);
        }
        .modal-align{
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    .modal-background{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .modal{
        width: 90%;
        max-width: 500px;
        border-radius: 10px;
        backdrop-filter: blur(30px);
        background-color: rgba(0, 0, 0, 0.24);
        z-index: 2;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.247);
        animation: modalPopup 0.5s;
        justify-content: center;
        align-items: center;
        .modal-header{
            position: absolute;
            top: 0px;
            padding: 20px;
            right: 0px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .fa-times{
                color: white;
                scale: 1.5;
            }
            .fa-arrow-left{
                color: white;
                scale: 1.5;
            }
        }
        .modal-body{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
            height: 100%;
            padding-top: 15px;
            align-items: center;
            .header{
                width: 100%;
                display: flex;
                justify-content: center;
                color: white;
            }
            .stage-oAuth{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                flex-wrap: wrap;
                .filter-button{
                    padding: 5px 10px;
                    border-radius: 5px;
                    background-color: transparent;
                    color: white;
                    border: 1px solid white;
                    backdrop-filter: blur(10px);
                    cursor: pointer;
                    font-size: 16px;
                    text-wrap: nowrap;
                    transition: 0.2s all ease-in-out;
                    flex:auto;
                }
                .filter-button:hover{
                    background-color: rgba(0, 0, 0, 0.541);
                    border: 1px solid black;
                }
                .active-filter{
                    background-color: rgba(0, 0, 0, 0.541);
                    border: 1px solid black;
                }
            }
        }
    }
    .hide-modal{
      animation: hideModal 0.55s;
    }
      @keyframes hideModal {
        0%{
          scale: 1;
          box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.247);
        }
        30%{
          scale:1.1
        }
        100%{
          box-shadow:  0px 0px 10px rgba(0, 0, 0, 0);
          scale: 0;
        }
    }
    @keyframes modalPopup {
        0%{
            scale: 0.7;
            box-shadow:  0px 0px 10px rgba(0, 0, 0, 0);
        }
        60%{
            scale: 1.1;
        }
        100%{
            box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.247);
            scale: 1;
        }
    }
}

    }
    .filters-align::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (max-width:1200px){
    .gallery-align{
       .photo-align{
         .album{
           flex: auto;
           height: 200px;
        }
    }
  }
}
@media screen and (max-width:800px){
    .gallery-align{
       .photo-align{
         .album{
           flex: auto;
           height: 200px;
        }
    }
  }
}
@media screen and (max-width:600px){
    .gallery-align{
       .photo-align{
        width: 90%;
         .album{
           flex: auto;
           height: 150px;
        }
      }
      .filters-align{
        width: 90%;
      }
  }
}