.gallery-align{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    justify-content: center;
    .photo-align{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .album{
           flex: auto;
           height: 350px;
        }
    }
}

@media screen and (max-width:1200px){
    .gallery-align{
       .photo-align{
         .album{
           flex: auto;
           height: 250px;
        }
    }
  }
}
@media screen and (max-width:800px){
    .gallery-align{
       .photo-align{
         .album{
           flex: auto;
           height: 200px;
        }
    }
  }
}
@media screen and (max-width:600px){
    .gallery-align{
       .photo-align{
        width: 90%;
         .album{
           flex: auto;
           height: 150px;
        }
    }
  }
}